﻿<div ng-show="vm.showMenu">
    <div class="col-md-3 left_col">
        <div class="scroll-view">
            <!--<div class="navbar nav_title" style="border: 0; background: white">
                <div id="branding" class="col-md-2 col-xs-12">
                    <a href="/#">{{'Header_Title' | translate}}</a>
                </div>
            </div>-->

            <div class="clearfix"></div>
            <!-- menu profile quick info -->
            <div class="profile">
                <div class="profile_pic">
                    <img src="content/image/ico/user-2-o.jpg" alt="..." class="img-circle profile_img">
                </div>
                <div class="profile_info">
                    <span>{{'Hello' | translate}}</span>
                    <h2>{{fullName}}</h2>
                </div>
            </div>
            <!-- /menu profile quick info -->
            <br />
            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <div class="menu_section">
                    <ul class="nav side-menu">
                        <li ng-show="permissionAccessing.Home">
                            <a href="#home"><i class="fa fa-home"></i> {{'Menu_Home' | translate}} </a>
                        </li>
                        <li ng-show="permissionAccessing.AddRequest || permissionAccessing.ManageRequest">
                            <a><i class="fa fa-user"></i> {{'Menu_MyRequest' | translate}} <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li ng-show="permissionAccessing.ManageRequest">
                                    <a href="#managerequest">{{'Menu_ManageRequest' | translate}}</a>
                                </li>
                                <li ng-show="permissionAccessing.AddRequest">
                                    <a href="#addrequest">{{'Menu_CreateRequest' | translate}}</a>
                                </li>
                            </ul>
                        </li>
                        <li ng-show="permissionAccessing.ManageApprovalRequest">
                            <a href="#manageapprovalrequest"><i class="fa fa-edit"></i> {{'Menu_ApprovalRequest' | translate}} </a>
                        </li>
                        <li ng-show="permissionAccessing.ManageAssignRequest">
                            <a href="#manageassignrequest"><i class="fa fa-share-square"></i> {{'Menu_AssignRequest' | translate}} </a>
                        </li>
                        <li ng-show="permissionAccessing.ManageProcess">
                            <a href="#manageprocess"><i class="fa fa-clone"></i> {{'Menu_ProcessRequest' | translate}} </a>
                        </li>
                        <li ng-show="permissionAccessing.ManageRelatedRequest">
                            <a href="#managerelatedrequest"><i class="fa fa-clone"></i> {{'Menu_RelatedRequest' | translate}} </a>
                        </li>
                        <li ng-show="permissionAccessing.SearchRequest">
                            <a href="#searchrequest"><i class="fa fa-search"></i> {{'Menu_SearchRequest' | translate}} </a>
                        </li>
                        <li ng-show="permissionAccessing.Report">
                            <a><i class="fa fa-bar-chart-o"></i> {{'Menu_Report' | translate}} <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li>
                                    <a href="#report">{{'Menu_ReportRequester' | translate}} </a>
                                </li>
                                <li>
                                    <a href="#reportassignee">{{'Menu_ReportAssignee' | translate}} </a>
                                </li>
                            </ul>
                        </li>
                        <li ng-show="permissionAccessing.ManageAccount || permissionAccessing.ManageRole || permissionAccessing.ManageWorkingTime ||
                            permissionAccessing.ManageRequestType || permissionAccessing.ManageService || permissionAccessing.ManageCompany ||
                            permissionAccessing.ManageDepartment || permissionAccessing.ManageGroup || permissionAccessing.ManageRequestGroup ||
                            permissionAccessing.ManageEmailTemplate || permissionAccessing.SysConfiguration">
                            <a><i class="fa fa-cog"></i> {{'Menu_ConfigSystem' | translate}} <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li ng-show="permissionAccessing.ManageAccount">
                                    <a href="#manageaccount">{{'Menu_ManageAccount' | translate}}</a>
                                </li>
                                <li ng-show="permissionAccessing.ManageRole">
                                    <a href="#managerole">{{'Menu_ManagePermission' | translate}}</a>
                                </li>
                                <li ng-show="permissionAccessing.ManageWorkingTime">
                                    <a href="#manageworkingtime">{{'Menu_ManageWorkingTime' | translate}}</a>
                                </li>
                                <li ng-show="permissionAccessing.ManageRequestType">
                                    <a href="#managerequesttype"> {{'Menu_RequestType' | translate}} </a>
                                </li>
                                <li ng-show="permissionAccessing.ManageService">
                                    <a href="#manageservice">{{'Menu_Service' | translate}} </a>
                                </li>
                                <li ng-show="permissionAccessing.ManageCompany">
                                    <a href="#managecompany">{{'Menu_ManageCompany' | translate}}</a>
                                </li>
                                <li ng-show="permissionAccessing.ManageDepartment">
                                    <a href="#managedepartment">{{'Menu_ManageDepartment' | translate}}</a>
                                </li>
                                <li ng-show="permissionAccessing.ManageGroup">
                                    <a href="#managegroup">{{'Menu_ManageGroup' | translate}}</a>
                                </li>
                                <li ng-show="permissionAccessing.ManageRequestGroup">
                                    <a href="#managerequestgroup">{{'RequestGroup_Menu' | translate}}</a>
                                </li>
                                <li ng-show="permissionAccessing.ManageEmailTemplate">
                                    <a href="#manageemailtemplate">{{'Menu_ManageEmailTemplate' | translate}}</a>
                                </li>
                                <li ng-show="permissionAccessing.ManageFrequentlyQuestion">
                                    <a href="#managefrequentlyquestion">{{'Menu_ManageFrequentlyQuestion' | translate}}</a>
                                </li>
                                <li ng-show="permissionAccessing.SysConfiguration">
                                    <a href="#sysconfiguration">{{'Menu_SystemConfiguration' | translate}}</a>
                                </li>                                
                            </ul>
                        </li>                                               
                    </ul>
                </div>
            </div>
            <!-- /sidebar menu -->
        </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
        <div class="nav_menu">
            <nav>
                <div class="nav toggle">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <img src="content/image/ico/user-2-o.jpg" alt="">{{fullName}}
                            <span class=" fa fa-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#login" ng-click="vm.logout()"><i class="fa fa-sign-out pull-right"></i> {{'Logout' | translate}}</a></li>
                        </ul>
                    </li>
                    <li style="margin: 10px 20px 0 0">
                        <select ng-model="vm.defaultSite" class="form-control" ng-change="vm.switchSite()">
                            <option value="{{site.CompanyId}}" ng ng-repeat="site in vm.sites">{{site.SiteName}}</option>
                        </select>
                    </li>
                    <li style="margin: 10px 20px 0 0">
                        <select ng-model="vm.defaultLanguageKeys" class="form-control" ng-change="vm.switchLanguage()">
                            <option value="{{language.Key}}" ng ng-repeat="language in languageKeys">{{language.Name}}</option>
                        </select>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- /top navigation -->
</div>
<script src="libs/build/js/custom.mn.js"></script>