﻿<!doctype html>
<html lang="en">
<head>
    <meta charset=" utf-8">
    <!--[if IE 8 ]> <meta http-equiv="X-UA-Compatible" content="IE=8"/> <![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="content/image/ico/favicon.ico">
    <link href="content/css/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="dist/css/style.bundle.css" rel="stylesheet"/>
    <title>Call-log system</title>
    <base href="">
</head>
<body ng-controller="main as vm" class="nav-md">
<div class="container body">
    <div ng-class="vm.showMenu ? 'main_container' : 'main_container_login'">
        <!--logo content-->
        <!--<div class="navbar nav_title" style="border: 0; background: white" ng-show="!vm.showMenu">
            <div id="{{vm.showMenu ? 'branding':'branding-login'}}" class="{{vm.showMenu ? 'col-md-2':'col-md-12'}} col-xs-12">
                <a href="/"></a>
            </div>
        </div>-->
        <!-- /logo content -->
        <!-- Menu content -->
        <div ng-include="'_menu.html'"></div>
        <!-- /Menu content -->
        <!-- page content -->
        <div ng-class="vm.showMenu ? 'right_col' : 'right_col_login'" role="main">
            <div ng-view></div>
        </div>
        <!-- /page content -->
        <!-- footer content -->
        <div ng-include="'_footer.html'" ng-if="vm.showMenu" ng-class="vm.showMenu ? '':'footer-login'"></div>
        <!-- /footer content -->
    </div>
</div>
</body>
</html>
<script src="libs/jquery/dist/jquery.min.js"></script>
<script src="libs/jquery/jquery.matchHeight-min.js"></script>
<script src="libs/bootstrap/js/bootstrap.min.js"></script>
<script src="libs/angular/angular.min.js"></script>
<!-- Rating -->
<script src="libs/bootstrap/js/starr.min.js"></script>
<!-- Chart -->
<script src="libs/chart/Chart.min.js"></script>
<script src="libs/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="libs/tinymce/js/tinymce/jquery.tinymce.min.js"></script>
<script src="libs/angular-ui-tinymce/src/tinymce.js"></script>
<!-- grid -->
<script src="libs/jquery/jquery.dataTables.min.js"></script>
<script src="libs/angular-datatables/angular-datatables.min.js"></script>
<script src="libs/angular-datatables/angular-datatables.scroller.js"></script>
<!-- Moment -->
<script src="libs/moment/moment.min.js"></script>
<script src="libs/moment/datetime-moment.js"></script>
<!-- dropdown list -->
<script src="libs/select2/dist/js/select2.full.min.js"></script>
<!--wyswyg-->
<script src="libs/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="libs/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="libs/google-code-prettify/src/prettify.js"></script>
<!-- popup -->
<script src="libs/pnotify/dist/pnotify.js"></script>
<!-- datepicker -->
<!--<script src="libs/angular-datepicker/js/angular-datepicker.js"></script>-->
<!-- busy loading -->
<!--<script src="libs/nprogress/nprogress.js"></script>-->
<script src="libs/loading-indicator/jquery.loading-indicator.min.js"></script>
<!-- validation -->
<script src="libs/parsleyjs/dist/parsley.min.js"></script>
<!--<script src="libs/build/js/custom.min.js"></script>-->
<script src="libs/build/js/custom.js"></script>
<script src="libs/build/js/fastclick.js"></script>
<!-- Date picker -->
<script src="libs/datepicker/ui-bootstrap-tpls.js"></script>
<script src="libs/datepicker/datetime-picker.js"></script>
<script src="libs/datepicker/gm.datepickerMultiSelect.js"></script>
<!-- bundle -->
<script src="dist/js/bundle.js"></script>