﻿<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title text-center">
                <h3 style="font-weight: bold;">{{'HomePage_Header' | translate}}</h3>
                <div class="col-md-3 col-sm-4 col-xs-12 pull-right top_search  pull-right" style="">
                    <div class="input-group col-sm-12 col-xs-12 col-md-12" id="searchgr">
                        <select id="textSearch"
                                class="form-control search-text select2_single"
                                ng-model="vm.requesttypeid"
                                ng-change="vm.requestTypeChange()" required
                                ng-options="requesttype.Id as requesttype.Name for requesttype in vm.requestTypes">
                        </select>
                        <span class="fa fa-search form-control-feedback" style="position: absolute;text-align: right;margin-right: 10px;"></span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
           
            <div class="x_content">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <fieldset class="col-md-12 col-sm-12 col-xs-12">

                        <div class="row col-md-12 col-sm-12 col-xs-12" style="margin-top: 5px">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">{{ vm.chartdata[0].Name }}:</label>
                            <div class="control-label col-md-3 col-sm-3 col-xs-10">
                                <input type="text" disabled="disabled" style="background-color: #e2e2e2;" value="{{vm.chartdata[0].Value}}" class="form-control">
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-2">
                                <a class="btn btn-success" href="{{vm.ApproveRole.View ? vm.chartdata[0].Link : '#/home'}}">...</a>
                            </div>
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">{{ vm.chartdata[1].Name }}:</label>
                            <div class="control-label col-md-3 col-sm-3 col-xs-10">
                                <input type="text" disabled="disabled" style="background-color: #e2e2e2;" value="{{vm.chartdata[1].Value}}" class="form-control">
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-2">
                                <a class="btn btn-success" href="{{vm.AssignRole.View ? vm.chartdata[1].Link : '#/home'}}">...</a>
                            </div>
                        </div>

                        <div class="row col-md-12 col-sm-12 col-xs-12">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">{{ vm.chartdata[2].Name }}:</label>
                            <div class="control-label col-md-3 col-sm-3 col-xs-10">
                                <input type="text" disabled="disabled" style="background-color: #e2e2e2;" value="{{vm.chartdata[2].Value}}" class="form-control">
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-2">
                                <a class="btn btn-success" href="{{vm.ProcessRole.View ? vm.chartdata[2].Link : '#/home'}}">...</a>
                            </div>
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">{{ vm.chartdata[3].Name }}:</label>
                            <div class="control-label col-md-3 col-sm-3 col-xs-10">
                                <input type="text" disabled="disabled" style="background-color: #e2e2e2;" value="{{vm.chartdata[3].Value}}" class="form-control">
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-2">
                                <a class="btn btn-success" href="{{vm.ProcessRole.View ? vm.chartdata[3].Link : '#/home'}}">...</a>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 15px;">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                            <table  class="" style="width: 100%; table-layout: fixed; border:none;">
                                <tr>
                                    <td style="width: 60%; vertical-align: middle;border:none;">
                                        <canvas id="pieChart"></canvas>
                                    </td>
                                    <td style="width: 40%; vertical-align: middle !important;border:none;">
                                        <table class="tile_info" style="border:none;">
                                            <tr ng-repeat="item in vm.chartdata" style="border:none;">
                                                <td style="border:none;">
                                                    <p>
                                                        <i class="fa fa-square {{item.Color}}"></i>{{item.Name}}
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <legend></legend>
                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="service-column panel panel-default cate-box">
                            <div class="service-column-header">
                                <div>
                                    <table class="pannel-title-1" style="border:none;">
                                        <tr style="border:none;">
                                            <td class="col-md-2 col-sm-2 col-xs-2" style="border:none;">
                                                <div>
                                                    <img style="width: 60px; height: 60px;" src="{{ vm.categories[0].AvatarSource != null ? vm.categories[0].AvatarSource : 'content/image/ico/icon-title1.png' }}">
                                                </div>
                                            </td>
                                            <td class="col-md-4 col-sm-4 col-xs-4" style="border:none;">
                                                <b class="panel-title-text">{{ vm.categories[0].Name | translate | uppercase}}</b>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="panel-body">
                                <ul style="margin-left: -45px; overflow: hidden; font-size: 15px; margin-top: -13px;">
                                    <li class="li-body" style="margin: 2px; list-style: none;" ng-repeat="item in vm.categories[0].RequestTypes"><a style="text-decoration: underline;" href="#addrequest?requesttypeid={{item.Id}}">{{item.Name}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="service-column panel panel-default cate-box">
                            <div class="service-column-header">
                                <div>
                                    <table class="pannel-title-2" style="border:none;">
                                        <tr style="border:none;">
                                            <td class="col-md-2 col-sm-2 col-xs-2" style="border:none;">
                                                <div>
                                                    <img style="width: 60px; height: 60px;" src="{{ vm.categories[1].AvatarSource != null ? vm.categories[1].AvatarSource : 'content/image/ico/icon-title2.png' }}">
                                                </div>
                                            </td>
                                            <td class="col-md-4 col-sm-4 col-xs-4" style="border:none;">
                                                <b class="panel-title-text">{{ vm.categories[1].Name | translate | uppercase }}</b>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="panel-body">
                                <ul style="margin-left: -45px; overflow: hidden; font-size: 15px; margin-top: -13px;">
                                    <li class="li-body" style="margin: 2px; list-style: none;" ng-repeat="item in vm.categories[1].RequestTypes"><a style="text-decoration: underline;" href="#addrequest?requesttypeid={{item.Id}}">{{item.Name}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="service-column panel panel-default cate-box">
                            <div class="service-column-header">
                                <div>
                                    <table class="pannel-title-3" style="border:none;">
                                        <tr style="border:none;">
                                            <td class="col-md-2 col-sm-2 col-xs-2" style="border:none;">
                                                <div>
                                                    <img style="width: 60px; height: 60px;" src="{{ vm.categories[2].AvatarSource != null ? vm.categories[2].AvatarSource : 'content/image/ico/icon-title3.png' }}">
                                                </div>
                                            </td>
                                            <td class="col-md-4 col-sm-4 col-xs-4" style="border:none;">
                                                <b class="panel-title-text">{{ vm.categories[2].Name | translate | uppercase }}</b>

                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="panel-body">
                                <ul style="margin-left: -45px; overflow: hidden; font-size: 15px; margin-top: -13px">
                                    <li class="li-body" style="margin: 2px; list-style: none;" ng-repeat="item in vm.categories[2].RequestTypes"><a style="text-decoration: underline;" href="#addrequest?requesttypeid={{item.Id}}">{{item.Name}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="service-column panel panel-default cate-box">
                            <div class="service-column-header">
                                <div>
                                    <table class="pannel-title-4" style="border:none;">
                                        <tr style="border:none;">
                                            <td class="col-md-2 col-sm-2 col-xs-2" style="border:none;">
                                                <div>
                                                    <img style="width: 60px; height: 60px;" src="{{ vm.categories[3].AvatarSource != null ? vm.categories[3].AvatarSource : 'content/image/ico/icon-title4.png' }}">
                                                </div>
                                            </td>
                                            <td class="col-md-4 col-sm-4 col-xs-4" style="border:none;">
                                                <b class="panel-title-text">{{ vm.categories[3].Name | translate | uppercase }}</b>

                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="panel-body">
                                <ul style="margin-left: -45px; overflow: hidden; font-size: 15px; margin-top: -13px;">
                                    <li class="li-body" style="margin: 2px; list-style: none;" ng-repeat="item in vm.categories[3].RequestTypes"><a style="text-decoration: underline;" href="#addrequest?requesttypeid={{item.Id}}">{{item.Name}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>