﻿<form id="form" data-parsley-validate class="form-horizontal form-label-left" novalidate ng-show="!vm.loading">
    <div class="row">
        <div class="col-sm-12 col-sm-12" style="margin-top: 20px">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="nav navbar-left panel_toolbox">
                        <li>
                            <p>
                                <h3 class="text-uppercase">{{vm.title}}</h3>
                            </p>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'RequestGroup_GroupName' | translate }}<span class="required">*</span>:
                        </label>
                        <div class="col-md-4 col-xs-12" id="DDL">
                            <input type="text" ng-model="vm.requestGroup.Name" required class="form-control">
                        </div>
                        <div class="col-md-1s"></div>
                        <label class="control-label col-md-1 col-xs-12">
                            {{'RequestGroup_Order' | translate }}<span class="required">*</span>:
                        </label>
                        <div class="col-md-1 col-xs-3">
                            <input type="number" ng-model="vm.requestGroup.OrderNum" ng-max class="form-control" required min="1" max="9999"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'RequestGroup_AvatarSource' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <input type="file" accept="image/*" name="file" style="margin-bottom: 25px"
                                   onchange=" angular.element(this).scope().uploadedFile(this) "/>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="col-md-2 col-xs-12"></div>
                            <div class="col-md-4 col-xs-12">
                                <p class="error">{{vm.errorMsgUpload}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'CreateFrom_Effected' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <input type="checkbox" ng-model="vm.requestGroup.IsActive"/>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-4 col-xs-12">
                    <div class="col-sm-12 col-md-offset-6 text-left">
                        <button type="submit" ng-show="(vm.permission.Add && !vm.RequestGroupId) || (vm.permission.Edit && vm.RequestGroupId)"
                                ng-click="vm.Save()" class="btn btn-success">
                            <i class="fa fa-save"></i> 
                            {{'Button_Draft' | translate}}
                        </button>
                        <button type="submit" ng-click="vm.backRequestPage()" class="btn btn-warning"><i class="fa fa-arrow-left"></i> {{'Button_Back' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="modal fade confirmation-back" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_Back' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.back()">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>