﻿<div ng-show="!vm.loading">
    <form data-parsley-validate class="form-horizontal form-label-left" novalidate>
        <div class="row x_panel">
            <div class="x_title">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <h3>{{'RequestGroup_Menu' | translate | uppercase}}</h3>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'RequestGroup_GroupName' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <input type="text" ng-model="vm.Name" required class="form-control">
                        </div>
                        <label class="control-label col-md-2 col-xs-12">
                            {{'CreateFrom_Status' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <select ng-model="vm.selectedStatus" required class="form-control">
                                <option value="-1">{{'SearchFrom_RoleStatus_All' | translate }}</option>
                                <option value="1">{{'SearchFrom_RoleStatus_On' | translate }}</option>
                                <option value="0">{{'SearchFrom_RoleStatus_Off' | translate }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-8 col-xs-12">
                    <div class="col-md-12 col-md-offset-3 text-center">
                        <button type="submit" ng-click="vm.searchCategories('true')" class="btn btn-success"><i class="fa fa-search"></i> {{'CreateFrom_Find' | translate}}</button>
                        <button type="submit" ng-click="vm.addNew()" ng-show="vm.permissionAddRequestGroup.Add" class="btn btn-success"><i class="fa fa-plus"></i> {{'CreateFrom_AddNew' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
         <div class="row x_panel">
             <fieldset class="col-md-12 col-xs-12">
                 <legend>{{'RequestGroup_List' | translate |uppercase }}</legend>
                 <div class="col-md-12 col-sm-12 col-xs-12" >
                     <div class="col-md-12 col-sm-12 col-xs-12">
                         <div class="form-group col-md-12 col-xs-12" id="table">
                             <table datatable="ng" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="table table-striped">
                                 <thead>
                                 <tr>
                                     <th>{{'RequestGroup_GroupName' | translate }}</th>
                                     <th>{{'RequestGroup_Order' | translate }}</th>
                                     <th>{{'CreateFrom_Status' | translate }}</th>
                                     <th></th>
                                 </tr>
                                 </thead>
                                 <tbody>
                                 <tr ng-repeat="item in vm.categories">
                                     <td>{{ item.Name }}</td>
                                     <td>{{ item.OrderNum }}</td>
                                     <td>{{ item.IsActive }}</td>
                                     <td>
                                         <button type="button" ng-show="vm.permissionAddRequestGroup.Edit" ng-click="vm.edit(item)" class="btn btn-success"><i class="fa fa-pencil"></i> {{'CreateFrom_Edit' | translate}}</button>
                                     </td>
                                 </tr>
                                 </tbody>
                             </table>
                         </div>
                     </div>
                 </div>
             </fieldset>
        </div>
    </form>
</div>