﻿<div ng-show="!vm.loading">
    <form data-parsley-validate class="form-horizontal form-label-left" novalidate>
        <div class="row x_panel">
            <div class="x_title">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <h3>{{'SearchRequest_Header' | translate | uppercase}}</h3>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <fieldset class="col-md-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px">
                    <div class="form-group col-md-12 col-xs-12 col-sm-12">                        
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageRequest_RequestCode' | translate }}:
                        </label>
                        <div class="col-md-10 col-xs-12">
                            <input type="text" ng-model="vm.searchCriteria.RequestNo" maxlength="255" required class="form-control">
                        </div>                       
                    </div>                                                                            
                                        
                    <div class="form-group col-md-8 col-xs-12">
                        <div class="col-md-12 col-md-offset-3 text-center">
                            <button type="submit" ng-click="vm.searchRequest('true')" class="btn btn-success"><i class="fa fa-search"></i> {{'Button_Search' | translate}}</button>                            
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
    <div class="row x_panel">
        <fieldset class="col-md-12 col-xs-12">
            <legend>{{'ReportResult' | translate |uppercase }}</legend>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group col-md-12 col-xs-12" id="table">
                    <table datatable="ng" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="table table-striped">
                        <thead>
                            <tr>
                                <th>{{'ManageRequest_RequestCode' | translate }}</th>
                                <th>{{'ManageRequest_RequestName' | translate }}</th>
                                <th>{{'ManageRequest_RequestType' | translate }}</th>
                                <th>{{'ManageRequest_CreateDate' | translate }}</th>
                                <th>{{'ManageRequest_Status' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm.searchResult">
                                <td>{{ item.RequestNo }}</td>
                                <td>                                    
                                    <a href="#viewrequest?requestid={{item.RequestId}}"><u>{{ item.RequestName }}</u></a>                                    
                                </td>
                                <td>{{ item.RequestTypeName }}</td>
                                <td>{{ item.CreatedDate | date:dateTimeFormat}}</td>
                                <td>{{ item.RequestStatusName }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    </div>
</div>