﻿<div class="row" ng-show="!vm.loading">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <p>
                            <h3>{{'FollowRequest_Header' | translate | uppercase}}</h3>
                        </p>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <requestinfor></requestinfor>                
                <form id="form" data-parsley-validate class="form-horizontal form-label-left" novalidate>                   
                    <comment></comment>
                </form>
                <div class="form-group col-md-12 col-xs-12">
                    <div class="col-md-12 text-center">                        
                        <button type="submit" class="btn btn-success" ng-click="vm.back()"><i class="fa fa-arrow-left"></i> {{'Button_Back' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade confirmation" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_Content' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>

        </div>
    </div>
</div>

