﻿<form id="form" data-parsley-validate class="form-horizontal form-label-left" novalidate ng-show="!vm.loading">

    <div class="col-md-12" style="margin-top: 20px">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <p>
                            <h3 class="text-uppercase">{{vm.title}}</h3>
                        </p>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageParty_GroupName' | translate }}<span class="required">*</span>:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <input type="text" ng-model="vm.group.PartyName" required class="form-control">
                        </div>
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageParty_GroupCode' | translate }}<span class="required">*</span>:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <input type="text" ng-model="vm.group.PartyCode" required class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageParty_Company' | translate }}<span class="required">*</span>:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <select id="company" ng-model="vm.group.CompanyId" ng-change="vm.FilterDepartments()" required class="form-control"
                                    ng-options="company.Id as company.Name for company in vm.Companies |filter:{IsShow:true}">
                            </select>
                        </div>
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageParty_Department' | translate }}<span class="required">*</span>:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <select id="department" ng-change="vm.ChangeDepartment()" ng-model="vm.group.DepartmentId" required class="form-control"
                                    ng-options="department.Id as department.Name for department in vm.departments">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageParty_GroupLeaders' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <select id="users-ddl"ng-model="vm.group.SelectedGroupLeaders" 
                                    multiple="multiple" class="select2_multiple form-control"></select>
                        </div>
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageParty_Users' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <select id="users-ddl-2" ng-model="vm.group.SelectedGroupUsers"
                                    multiple="multiple" class="select2_multiple form-control"></select>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'Manage_Using' | translate }}
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <input type="checkbox" ng-model="vm.group.IsActive"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4 col-xs-12">
                <div class="col-md-12 col-md-offset-6 text-left">
                    <button type="submit" ng-show="(vm.permission.Add && !vm.partyId) || (vm.permission.Edit && vm.partyId)"
                            ng-click="vm.Save()" class="btn btn-success">
                        <i class="fa fa-save"></i> 
                        {{'Button_Draft' | translate}}                        
                    </button>
                    <button type="submit" ng-click="vm.backRequestPage()" class="btn btn-warning"><i class="fa fa-arrow-left"></i> {{'Button_Back' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="modal fade confirmation-back" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_Back' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.back()">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>