﻿<div class="row" ng-show="!vm.loading">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <p>
                            <h3>{{'ApproveRequest_Header' | translate | uppercase}}</h3>
                        </p>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <requestinfor></requestinfor>
                <form id="form" data-parsley-validate class="form-horizontal form-label-left" novalidate>
                    <div class="x_panel">
                        <div class="x_title">
                            <div class="col-md-12 col-xs-12 col-sm-12">
                                <ul class="nav navbar-left panel_toolbox">
                                    <li>
                                        <a>
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </li>
                                </ul>
                                <label class="tittle-section">{{'ApproveRequest_Title2' | translate | uppercase}}</label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="collapse in col-md-12 col-xs-12 col-sm-12" id="site2">
                            <fieldset class="col-md-12 col-xs-12">
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="control-label col-md-2 col-xs-12">
                                        {{'ApproveRequest_ApproveNote' | translate}}
                                    </label>
                                    <div class="col-md-10 col-xs-12">
                                        <textarea id="approvalNote" class="form-control col-md-12 col-xs-12" rows="5"
                                                  ng-model="vm.approvalRequest.Note"
                                                  ng-change="vm.onTextareChange()"
                                                  ng-disabled="vm.isApproved"></textarea>
                                        <ul class="parsley-errors-list filled" id="parsley-id-13" ng-show="vm.isShowMsg">
                                            <li class="parsley-required">{{'Required' | translate}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12" style="margin: 20px 0" >
                                    <div class="form-group col-md-12 col-xs-12" ng-show="!vm.isApproved && vm.permission.Upload">
                                        <label class="control-label col-md-2 col-xs-12">
                                            {{'AddRequest_AttachFileLabel' | translate}}:
                                        </label>
                                        <div class="col-md-4 col-xs-12">
                                            <input type="file" name="file" style="margin-bottom: 25px" id="file"
                                                   onchange=" angular.element(this).scope().uploadFile(this) " />
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                            <button type="submit" class="btn btn-success btn-upload"
                                                    ng-disabled="vm.invalidExtension" ng-click="vm.uploadDocument()">
                                                <i class="fa fa-upload" aria-hidden="true"></i> {{'Button_Upload' | translate }}
                                            </button>
                                        </div>
                                        <div class="col-md-12 col-xs-12" ng-show="vm.invalidExtension">
                                            <div class="col-md-2 col-xs-12"></div>
                                            <div class="col-md-4 col-xs-12">
                                                <p class="error">{{vm.errorMsgUpload}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-10 col-xs-12 col-md-offset-2 col-sm-12" ng-show="vm.documents.length > 0 && vm.permission.Upload" id="table">
                                        <table datatable="ng" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>{{'AddRequest_FileName' | translate }}</th>
                                                    <th>{{'AddRequest_FileType' | translate }}</th>
                                                    <th>{{'AddRequest_Size' | translate }}</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in vm.documents">
                                                    <td>{{ item.FileName }}</td>
                                                    <td>{{ item.Extension }}</td>
                                                    <td>{{ item.Size }}</td>
                                                    <td>
                                                        <button type="submit" ng-click="vm.onDownload(item)" class="btn btn-success"><i class="fa fa-download" aria-hidden="true"></i> {{'Button_Download' | translate }}</button>
                                                        <button type="button" ng-click="vm.deleteFile = item"
                                                                class="btn btn-warning"
                                                                ng-show="vm.permission.DeleteFile && !vm.isApproved"
                                                                data-toggle="modal" data-target=".confirmation-approval-file">
                                                            <i class="fa fa-trash" aria-hidden="true"></i> {{'Button_Delete' | translate }}
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-success"
                                                data-toggle="modal" data-target=".confirmation-approval-request"
                                                ng-show="!vm.isApproved"
                                                ng-click="vm.isApprove = true">
                                            <i class="fa fa-check-circle" aria-hidden="true"></i> {{'Button_Approval' | translate }}
                                        </button>
                                        <button type="submit" class="btn btn-warning"
                                                data-toggle="modal" data-target=".confirmation-reject-request"
                                                ng-show="!vm.isApproved"
                                                ng-click="vm.isApprove = false">
                                            <i class="fa fa-close" aria-hidden="true"></i> {{'Button_Deny' | translate }}
                                        </button>
                                        <button type="submit" class="btn btn-warning"
                                                ng-click="vm.back()"><i class="fa fa-arrow-left" aria-hidden="true"></i> {{'Button_Back' | translate }}</button>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
                <comment></comment>
            </div>
        </div>
    </div>
</div>

<div class="modal fade confirmation-approval-file" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_DeleteRequest' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.delete()">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade confirmation-approval-request" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_ApproveRequest' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.approveRequest()">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade confirmation-reject-request" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_RejectRequest' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.approveRequest()">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>
