﻿<div ng-show="!vm.loading">
    <form data-parsley-validate class="form-horizontal form-label-left" novalidate>
        <div class="row x_panel">
            <div class="x_title">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <h3>{{'ManageApprove_Header' | translate | uppercase}}</h3>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <fieldset class="col-md-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label col-md-2 col-xs-12 col-sm-12">
                                {{'ManageRequest_RequestType' | translate }}:
                            </label>
                            <div class="col-md-4 col-xs-12">
                                <select class="select2_multiple form-control" multiple="multiple"
                                        ng-model="vm.searchCriteria.ServiceId"
                                        ng-options="type.Id as type.Name for type in vm.services">
                                </select>
                            </div>
                            <label class="control-label col-md-2 col-xs-12">
                                {{'ManageRequest_RequestCode' | translate }}:
                            </label>
                            <div class="col-md-4 col-xs-12">
                                <input type="text" ng-model="vm.searchCriteria.RequestNo" class="form-control">
                            </div>

                        </div>
                    </div>

                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label col-md-2 col-xs-12">
                                {{'ManageApprove_RequestName' | translate }}:
                            </label>
                            <div class="col-md-4 col-xs-12">
                                <input type="text" ng-model="vm.searchCriteria.RequestName" class="form-control">
                            </div>
                            <label class="control-label col-md-2 col-xs-12">
                                {{'ManageApprove_Status' | translate }}:
                            </label>
                            <div class="col-md-4 col-xs-12">
                                <select class="select2_multiple form-control" multiple="multiple"
                                        ng-model="vm.searchCriteria.RequestStatusId"
                                        ng-options="status.Id as status.Name for status in vm.requestStatus">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-xs-12 col-sm-12">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageRequest_DateFrom' | translate }}:
                        </label>
                        <div class="control-group col-md-4 col-xs-12">
                            <p class="input-group col-md-12 col-xs-12">
                                <input type="text" class="form-control date-picker date-picker-invalid"
                                       datetime-picker='{{dateFormat}}'
                                       ng-model="vm.searchCriteria.FromDate"
                                       is-open="vm.openFrom"
                                       ng-click="vm.openFrom = true" />
                                <span class="fa fa-calendar form-control-feedback"></span>
                            </p>
                        </div>
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageRequest_DateTo' | translate }}
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <p class="input-group col-md-12 col-xs-12">
                                <input type="text" class="form-control date-picker date-picker-invalid"
                                       datetime-picker='{{dateFormat}}'
                                       ng-model="vm.searchCriteria.ToDate"
                                       is-open="vm.openTo"
                                       ng-click="vm.openTo = true" />
                                <span class="fa fa-calendar form-control-feedback"></span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-xs-12 col-sm-12">
                        <div class="col-md-2"></div>
                        <div class="col-md-4 col-xs-12" style="margin: -25px 0 20px 0">
                            <label class="control-label error date-picker-0">
                                {{'ManageRequest_InvalidDate' | translate }}
                            </label>
                            <label class="control-label error" ng-if="!vm.checkValid()">
                                {{'ManageRequest_InvalidDateTo' | translate}}
                            </label>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4 col-xs-12" style="margin: -25px 0 20px 0">
                            <label class="control-label error date-picker-1">
                                {{'ManageRequest_InvalidDate' | translate }}
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 col-sm-12" style="margin-top: -15px">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageRequest_Requester' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <select id="users-ddl" ng-model="vm.searchCriteria.RequesterId" class="form-control select2_single"></select>
                        </div>
                        <div class="col-md-6 col-xs-12"></div>
                    </div>
                    <div class="form-group col-md-8 col-xs-12 col-sm-12">
                        <div class="col-md-12 col-md-offset-3 text-center">
                            <button type="submit" ng-click="vm.searchRequest('true')" class="btn btn-success"><i class="fa fa-search"></i> {{'Button_Search' | translate}}</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
    <div class="row x_panel">
        <fieldset class="col-md-12 col-xs-12 col-sm-12">
            <legend>{{'ManageApprove_SearchResultLabel' | translate |uppercase }}</legend>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group col-md-12 col-xs-12" id="table">
                    <table datatable="ng" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="table table-striped">
                        <thead>
                            <tr>
                                <th>{{'ManageApprove_RequestCode' | translate }}</th>
                                <th>{{'ManageApprove_RequestName' | translate }}</th>
                                <th>{{'ManageApprove_RequestType' | translate }}</th>
                                <th>{{'ManageApprove_RequestUser' | translate }}</th>
                                <th>{{'ManageApprove_CreateDate' | translate }}</th>
                                <th>{{'ManageApprove_Status' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm.searchResult">
                                <td>{{ item.RequestNo }}</td>
                                <td>
                                    <a href="#/approverequest?requestid={{item.RequestId}}" ng-show="vm.permissionApprove.View">
                                        <u>{{ item.RequestName }}</u>
                                    </a>
                                    <p ng-show="!vm.permissionApprove.View">{{ item.RequestName }}</p>
                                </td>
                                <td>{{ item.RequestTypeName }}</td>
                                <td>{{ item.RequesterName }}</td>
                                <td>{{ item.CreatedDate | date:dateTimeFormat }}</td>
                                <td>{{ item.RequestStatusName }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    </div>
</div>