﻿<div class="row" ng-show="!vm.loading">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <p>
                            <h3 class="text-uppercase">{{vm.title}}</h3>
                        </p>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="wizard" class="form_wizard wizard_horizontal">
                    <ul class="wizard_steps">
                        <li>
                            <a class="selected">
                                <span class="step_no">1</span>
                                <span class="step_descr">
                                    <small>{{'Wizards_Step1' | translate | uppercase}}</small>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="disabled">
                                <span class="step_no">2</span>
                                <span class="step_descr">
                                    <small>{{'Wizards_Step2' | translate | uppercase}}</small>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="disabled">
                                <span class="step_no">3</span>
                                <span class="step_descr">
                                    <small>{{'Wizards_Step4' | translate | uppercase}}</small>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="disabled">
                                <span class="step_no">4</span>
                                <span class="step_descr">
                                    <small>{{'Wizards_Step5' | translate | uppercase}}</small>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="disabled">
                                <span class="step_no">5</span>
                                <span class="step_descr">
                                    <small>{{'Wizards_Step6' | translate | uppercase}}</small>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="disabled">
                                <span class="step_no">6</span>
                                <span class="step_descr">
                                    <small>{{'Wizards_Step7' | translate | uppercase}}</small>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="disabled">
                                <span class="step_no">7</span>
                                <span class="step_descr">
                                    <small>{{'Wizards_Step9' | translate | uppercase}}</small>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <br />
                </div>
                <!--cong ty xu ly-->
                <form id="form" data-parsley-validate class="form-horizontal form-label-left" novalidate>
                    <div class="col-md-12 response-message">
                        <div class="form-group" ng-show="vm.isShowResponse">
                            <label class="control-label col-md-12 col-xs-12 error text-bold">
                                <img src="content/image/ico/error.png" height="20" width="20" />
                                {{vm.message}}
                            </label>
                        </div>
                        <div class="form-group" ng-show="vm.isShowWarning">
                            <label class="control-label col-md-12 col-xs-12 error text-bold">
                                <img src="content/image/ico/error.png" height="20" width="20" />
                                {{vm.warningMsg}} {{vm.providedCompany}}
                            </label>
                        </div>
                    </div>
                    <br /><br />
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group col-sm-12 col-xs-12">
                            <label class="control-label col-md-2 col-sm-12 col-xs-12">
                                {{'AddRequest_StyleRequestLabel' | translate}}<span class="required">*</span>:
                            </label>
                            <div class="col-md-4 col-xs-12 col-sm-12" id="DDL">
                                <select ng-model="vm.requestTypeId" class="form-control select2_single"
                                        ng-change="vm.serviceChange()" required
                                        ng-options="service.RequestTypeId as service.Name for service in vm.services"></select>
                                <a href="" class="fa fa-question-circle form-control-right" data-toggle="modal" data-target=".bs-example-modal-lg"></a>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-xs-12">
                            <label class="control-label col-md-2 col-xs-12 col-sm-12">
                                {{'AddRequest_NameRequestLabel' | translate }}<span class="required">*</span>:
                            </label>
                            <div class="col-md-10 col-xs-12 col-sm-12">
                                <input type="text" ng-model="vm.request.RequestName" maxlength="255" required class="form-control" id="requestName">
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-xs-12">
                            <label class="control-label col-md-2 col-xs-12">
                                {{'AddRequest_RequirementLabel' | translate }}:
                            </label>
                            <div class="col-md-10 col-xs-12">
                                <select class="form-control" ng-model="vm.request.ParentId"
                                        ng-options="request.RequestId as request.RequestName for request in vm.relatedRequest">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-xs-12">
                                {{'AddRequest_ContentLabel' | translate }}<span class="required">*</span>:
                            </label>
                            <div class="col-md-10 col-xs-12">                                
                                <div id="tiny">
                                    <textarea ui-tinymce="tinymceOptionsSetup" class="form-control col-md-12 col-xs-12" rows="10" ng-model="vm.request.Description"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-2 col-xs-12">
                                {{'AddRequest_ExpectedTimeLabel' | translate}}<span class="required">*</span>:
                            </label>
                            <div class="col-md-4 col-xs-12">
                                <p class="input-group col-md-12 col-xs-12">
                                    <input type="text" class="form-control date-picker"
                                           datetime-picker='{{dateTimeFormat}}'
                                           timepicker-options="vm.timepickerOptions"
                                           ng-model="vm.request.ExpectedCompleteDate"
                                           is-open="vm.open" required
                                           ng-click="vm.open = true"
                                           ng-change="vm.onDatePickerChange()" />
                                    <span class="fa fa-calendar form-control-feedback"></span>
                                </p>
                            </div>
                            <label class="control-label col-md-2 col-xs-12">
                                {{'AddRequest_InformToLabel' | translate }}<span class="required"></span>:
                            </label>


                            <div class="col-md-4 col-xs-12">
                                <select id="users-ddl" class="select2_multiple form-control" multiple="multiple" ng-model="vm.request.InformTos"></select>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 invalidDate" ng-show="vm.invalidDate">
                            <div class="col-md-2 col-xs-12"></div>
                            <div class="col-md-4 col-xs-12">
                                <p class="error">{{vm.expectedDateMsg}}</p>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12" ng-show="vm.permission.Upload">
                            <label class="control-label col-md-2 col-xs-12">
                                {{'AddRequest_AttachFileLabel' | translate}}:
                            </label>
                            <div class="col-md-4 col-xs-12">
                                <input id="file" type="file" name="file" style="margin-bottom: 25px"
                                       onchange=" angular.element(this).scope().uploadedFile(this) " />
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <button type="submit" class="btn btn-success btn-upload" ng-disabled="vm.invalidExtension" ng-click="vm.uploadDocument()"><i class="fa fa-upload" aria-hidden="true"></i> {{'Button_Upload' | translate }}</button>
                            </div>
                            <div class="col-md-12 col-xs-12" ng-show="vm.invalidExtension">
                                <div class="col-md-2 col-xs-12"></div>
                                <div class="col-md-4 col-xs-12">
                                    <p class="error">{{vm.errorMsgUpload}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="form-group col-md-12 col-xs-12" ng-show="vm.permission.Upload && vm.documents.length > 0">
                        <div class="col-md-2 col-xs-12">
                        </div>
                        <div class="col-md-10 col-xs-12" id="table">
                            <table datatable="ng" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>{{'AddRequest_FileName' | translate }}</th>
                                        <th>{{'AddRequest_FileType' | translate }}</th>
                                        <th>{{'AddRequest_Size' | translate }}</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.documents">
                                        <td>{{ item.FileName }}</td>
                                        <td>{{ item.Extension }}</td>
                                        <td>{{ item.Size }}</td>
                                        <td>
                                            <button type="submit" ng-click="vm.onDownload(item)" class="btn btn-success">
                                            <i class="fa fa-download" aria-hidden="true"></i> {{'Button_Download' | translate }}</button>
                                            <button type="button" ng-click="vm.deleteFile = item"
                                                    class="btn btn-warning"
                                                    data-toggle="modal" data-target=".confirmation-delete-file"
                                                    ng-show="vm.permission.DeleteFile">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i> {{'Button_Delete' | translate }}
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group col-md-8 col-xs-12">
                        <div class="col-md-12 col-md-offset-3 text-center">
                            <button type="submit" class="btn btn-success"
                                    ng-show="vm.permission.Add"
                                    ng-click="vm.save('DR')">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i> {{'Button_Draft' | translate }}
                            </button>
                            <button type="submit" class="btn btn-success"
                                    ng-show="vm.permission.Add"
                                    data-toggle="modal" data-target=".confirmation">
                                <i class="fa fa-send" aria-hidden="true"></i> {{'Button_Send' | translate }}
                            </button>
                            <button type="submit" class="btn btn-warning"
                                    data-toggle="modal" data-target=".confirmation-delete"
                                    ng-show="vm.requestId && !vm.isCopy">
                                <i class="fa fa-times" aria-hidden="true"></i> {{'Button_Delete' | translate }}
                            </button>
                            <button type="submit" class="btn btn-warning"
                                    ng-click="vm.confirmBack()">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i> {{'Button_Back' | translate }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">{{'AddRequest_ProcessDescription' | translate | uppercase}}</h4>
            </div>
            <div class="modal-body">
                <p ng-bind-html="vm.processDescription"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Button_Back' | translate }}</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade confirmation" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_SendRequest' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.save('SE')">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade confirmation-delete" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_DeleteRequest' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.deleleRequest()">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade confirmation-delete-file" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_DeleteFile' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.delete()">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade confirmation-back" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_Back' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.back()">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>