﻿<div class="row" ng-show="!vm.loading">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <p>
                            <h3>{{'FollowRequest_Header' | translate | uppercase}}</h3>
                        </p>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <requestinfor></requestinfor>
                <div class="x_panel">
                    <div class="x_title">
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <ul class="nav navbar-left panel_toolbox">
                                <li ng-click="open = true">
                                    <a class="collapse-link" ng-click="vm.collapse()" data-toggle="collapse" href="#site2">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                            <label class="tittle-section" data-toggle="collapse" href="#site2" ng-click="open = true">{{'FollowRequest_Title2' | translate | uppercase}}</label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="collapse col-md-12 col-xs-12 col-sm-12" id="site2">
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-repeat="item in vm.approvalLevels | orderBy : 'Level'">
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <h4 class="control-label col-md-12 col-xs-12">
                                    {{'FollowRequest_AproveLevelLabel' | translate}} {{item.Level}}:
                                </h4>
                            </div>
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label col-md-2 col-xs-12">
                                    {{'FollowRequest_ApproveUser' | translate}}:
                                </label>
                                <div class="control-label col-md-4 col-xs-12">
                                    {{item.UserName}}
                                </div>
                                <label class="control-label col-md-2 col-xs-12">
                                    {{'FollowRequest_DatetimeApprove' | translate}}:
                                </label>
                                <div class="control-label col-md-4 col-xs-12">
                                    {{item.ApprovalDateTime | date:dateTimeFormat}}
                                </div>
                            </div>
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label col-md-2 col-xs-12">
                                    {{'FollowRequest_Status' | translate}}:
                                </label>
                                <div class="control-label col-md-4 col-xs-12">
                                    {{item.Status}}
                                </div>
                                <label class="control-label col-md-2 col-xs-12">
                                    {{'FollowRequest_ApproveNote' | translate}}:
                                </label>
                                <div class="control-label col-md-4 col-xs-12">
                                    {{item.Note}}
                                </div>
                            </div>
                            <div class="form-group col-md-12 col-xs-12 col-sm-12" ng-if="item.Files.length > 0 && open">
                                <label class="control-label col-md-2 col-xs-12 col-sm-12">
                                    {{'FollowRequest_FileAttach' | translate}}:
                                </label>
                                <div class="form-group col-md-10 col-xs-12 col-sm-12" id="table">
                                    <table datatable="ng" dt-options="vm.dtFileOptions" dt-columns="vm.dtFileColumns" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>{{'FollowRequest_FileName' | translate }}</th>
                                                <th>{{'FollowRequest_FileType' | translate }}</th>
                                                <th>{{'FollowRequest_FileSize' | translate }}</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="file in item.Files">
                                                <td>{{ file.FileName }}</td>
                                                <td>{{ file.Extension }}</td>
                                                <td>{{ file.Size }}</td>
                                                <td>
                                                    <button type="submit" ng-click="vm.onDownload(file)" class="btn btn-success"><i class="fa fa-download" aria-hidden="true"></i> {{'Button_Download' | translate }}</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x_panel">
                    <div class="x_title">
                        <div class="col-md-12 col-xs-12">
                            <ul class="nav navbar-left panel_toolbox">
                                <li>
                                    <a class="collapse-link" ng-click="vm.collapse()" data-toggle="collapse" href="#site3">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                            <label class="tittle-section" data-toggle="collapse" href="#site3">{{'FollowRequest_Title3' | translate | uppercase}}</label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="collapse in col-md-12 col-xs-12" id="site3">
                        <div class="form-group col-md-12">
                            <label class="control-label col-md-2 col-xs-12">
                                {{'FollowRequest_Leader' | translate}}:
                            </label>
                            <div class="col-md-10 col-xs-12">
                                <span>{{vm.processInfo.LeaderName}}</span>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label col-md-2 col-xs-12">
                                {{'FollowRequest_Assignee' | translate}}:
                            </label>
                            <div class="col-md-10 col-xs-12">
                                <span>{{vm.processInfo.Assignee}}</span>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label col-md-2 col-xs-12">
                                {{'FollowRequest_ProcessDescription' | translate}}:
                            </label>
                            <div class="col-md-10 col-xs-12">
                                <p ng-bind-html="vm.processInfo.Description"></p>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12" ng-show="vm.processInfo.Requests.length > 0">
                            <label class="control-label col-md-2 col-xs-12">
                                {{'FollowRequest_RequestRefer' | translate}}:
                            </label>
                            <div class="form-group col-md-10 col-xs-12" id="sub-table">
                                <table datatable="ng" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="table table-striped ">
                                    <thead>
                                        <tr>
                                            <th>{{'ManageRequest_RequestCode' | translate }}</th>
                                            <th>{{'ManageRequest_RequestName' | translate }}</th>
                                            <th>{{'ManageRequest_RequestType' | translate }}</th>
                                            <th>{{'ManageRequest_CreateDate' | translate }}</th>
                                            <th>{{'ManageRequest_Status' | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vm.processInfo.Requests">
                                            <td><a href="#followrequest?requestid={{item.RequestId}}" ng-if="item.RequestStatusId !== 1"><u>{{ item.RequestNo }}</u></a></td>
                                            <td>{{ item.RequestName }}</td>
                                            <td>{{ item.RequestTypeName }}</td>
                                            <td>{{ item.CreatedDate | date:dateTimeFormat}}</td>
                                            <td>{{ item.RequestStatusName }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label col-md-2 col-xs-12">
                                {{'FollowRequest_Note' | translate}}:
                            </label>
                            <div class="control-label col-md-10 col-xs-12">
                                {{ vm.processInfo.Note }}
                            </div>
                        </div>

                    </div>
                </div>
                <form id="form" data-parsley-validate class="form-horizontal form-label-left" novalidate>
                    <div class="x_panel" ng-show="vm.confirmResult.RequestStatusId === vm.processCompleted ||
                         vm.confirmResult.RequestStatusId === vm.rejectedProcess ||
                         vm.confirmResult.RequestStatusId === vm.completed">
                        <div class="x_title">
                            <div class="col-md-12 col-xs-12">
                                <ul class="nav navbar-left panel_toolbox">
                                    <li>
                                        <a class="collapse-link" ng-click="vm.collapse()" data-toggle="collapse" href="#site4">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </li>
                                </ul>
                                <label class="tittle-section" data-toggle="collapse" href="#site4">{{'FollowRequest_Title4' | translate | uppercase}}</label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="collapse in col-md-12 col-xs-12" id="site4">
                            <label class="form-group col-md-12 col-xs-12">
                                {{'FollowRequest_Inform1' | translate}}:
                            </label>
                            <div class="form-group col-md-12 col-xs-12">
                                <label class="radio-inline">
                                    <input type="radio" name="optradio" data-ng-model="vm.confirmResult.IsCompleted" ng-disabled="!vm.confirmResult.IsRequester" data-ng-value="true">
                                    {{'FollowRequest_ConfirmDone' | translate}}
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optradio" data-ng-model="vm.confirmResult.IsCompleted" ng-disabled="!vm.confirmResult.IsRequester" data-ng-value="false">
                                    {{'FollowRequest_ConfirmNotDone' | translate}}
                                </label>
                            </div>
                            <label class="form-group col-md-12 col-xs-12" ng-show="vm.confirmResult.IsCompleted">
                                {{'FollowRequest_Inform2' | translate}}:
                            </label>

                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <div ng-show="vm.confirmResult.IsCompleted">
                                    <label class="control-label col-md-2 col-xs-12">
                                        {{'CreateFrom_SurveyTemplate' | translate }}
                                    </label>
                                    <div id="tiny" class="col-md-10 col-xs-12">
                                        <textarea id="survey" ui-tinymce="tinymceOptions" class="form-control col-md-12 col-xs-12" rows="15" ng-model="vm.confirmResult.SurveyTemplate" 
                                                  ng-disabled="vm.confirmResult.RequestStatusId !== vm.rejectedProcess && vm.confirmResult.RequestStatusId !== vm.processCompleted">
                                        </textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 col-xs-12 text-center" ng-show="vm.confirmResult.IsCompleted">
                                    <label class="control-label col-md-2 col-xs-12">
                                        {{'FollowRequest_Rating' | translate}}:
                                    </label>
                                    <div class="starrr stars"></div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="control-label col-md-2 col-xs-12">
                                        {{'FollowRequest_ApproveNote' | translate}}:
                                    </label>
                                    <div class="col-md-10 col-xs-12">                                       
                                        <textarea ui-tinymce="tinymceOptions" class="form-control col-md-12 col-xs-12" rows="5" ng-model="vm.confirmResult.Note" required
                                                  ng-disabled="vm.confirmResult.RequestStatusId !== vm.rejectedProcess &&
                                              vm.confirmResult.RequestStatusId !== vm.processCompleted"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 col-xs-12">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" ng-show="vm.confirmResult.RequestStatusId !== vm.completed && vm.confirmResult.IsRequester" ng-click="vm.send()" class="btn btn-success"><i class="fa fa-send" aria-hidden="true"></i>{{'Button_Send' | translate }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <comment></comment>
                </form>
                <div class="form-group col-md-12 col-xs-12">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-success" ng-click="vm.copy()"><i class="fa fa-copy" aria-hidden="true"></i> {{'Button_Copy' | translate }}</button>
                        <button type="submit" class="btn btn-success" ng-click="vm.back()"><i class="fa fa-arrow-left" aria-hidden="true"></i> {{'Button_Back' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade confirmation" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_Content' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-check" aria-hidden="true"></i> {{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-close" aria-hidden="true"></i> {{'Confirmation_No' | translate}}</button>
            </div>

        </div>
    </div>
</div>

