﻿<form id="form" data-parsley-validate class="form-horizontal form-label-left" novalidate ng-show="!vm.loading">
    <div class="row x_panel">
        <div class="x_title">
            <ul class="nav navbar-left panel_toolbox">
                <li>
                    <p>
                        <h3>{{'Manage_EditOffDay' | translate | uppercase}}</h3>
                    </p>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <p class="success-msg">{{vm.msg}}</p>
        <p class="error">{{vm.errorMsg}}</p>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <table>
                    <tr>
                        <td style="width: 40%">
                            <label class="control-label col-md-1 col-xs-4">
                                {{'Manage_Year' | translate }}:
                            </label>
                        </td>
                        <td style="width: 20%"></td>
                        <td style="width: 40%">
                            <label class="control-label col-md-1 col-xs-4">
                                {{vm.currentYear}}
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-5 col-xs-12">
            <div class="form-group">
                <label class="control-label col-md-12 col-xs-12">
                    {{'Manage_SelectDay' | translate }}:
                </label>
                <div class="x_panel">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="x_content">
                            <div style="display: inline-block; min-height: 290px;" id="edit-working-time">
                                <uib-datepicker ng-model="vm.selectedDate"
                                       class="well well-sm"
                                       min-date="vm.minDate"
                                       multi-select='vm.selectedDates'
                                                max-date="vm.maxDate"
                                                max-mode="'day'"
                                       custom-class="vm.getDayClass(date, mode)"
                                       template-url='multi-datepicker.tpl.html'
                                       show-weeks="false"></uib-datepicker>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-xs-12">
            <div class="form-group" style="margin-left: 16px">
                <label class="control-label col-md-12 col-xs-12">
                    {{'Manage_SelectedDay' | translate }}:
                </label>
                <div class="x_panel" style="padding: 5px !important;">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group col-md-12 col-sm-12 col-xs-12" id="table2">
                            <table  datatable="ng" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>{{'Manage_Date' | translate }}</th>
                                    <th>{{'Manage_Scheduler' | translate }}</th>
                                    <th>{{'Manage_Note' | translate }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in vm.holidays">
                                    <td>{{ item.StrDate }}</td>
                                    <td class="child">
                                        <select ng-model="item.HolidayTypeId" ng-change="vm.FilterHolidayType()" required class="form-control" style="border-style: solid; border-width: 1px; background-color: transparent">
                                            <option value="{{holiday.Id}}" ng-repeat="holiday in vm.holidayTypes">{{holiday.Name}}</option>
                                        </select>
                                    </td >
                                    <td>
                                            <input type="text" ng-model="item.Note" style="border-style: solid; border-color: transparent; border-width: 1px; background-color: transparent" />
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-md-8 col-xs-12">
            <div class="col-md-12 col-md-offset-3 text-center">
                <button type="submit" ng-click="vm.Save()" class="btn btn-success">{{'Button_Draft' | translate}}</button>
                <button type="submit" ng-click="vm.backRequestPage()" class="btn btn-success">{{'Button_Back' | translate}}</button>
            </div>
        </div>
    </div>
</form>
<div class="modal fade confirmation-back" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_Back' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.back()">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>


