﻿<form id="form" data-parsley-validate class="form-horizontal form-label-left" novalidate ng-show="!vm.loading">
    <div class="row x_panel" ng-show="!vm.loading">
        <div class="x_title">
            <ul class="nav navbar-left panel_toolbox">
                <li>
                    <p>
                        <h3>{{'Manage_WorkingTime' | translate | uppercase}}</h3>
                    </p>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px">
            <div class="col-md-12 col-xs-12" ng-if="vm.warningHourPerDay">
                <label class=" control-label col-md-12 col-xs-12 warning text-bold">
                    <img src="content/image/ico/warning.png" height="20" width="20" />
                    {{vm.warningHourPerDay}}
                </label>
            </div>
            <p class="success-msg">{{vm.msg}}</p>
            <div class="form-group col-md-12">
                <label class="control-label col-md-2 col-xs-12">
                    {{'ManageParty_Company' | translate }}<span class="required">*</span>:
                </label>
                <div class="col-md-4 col-xs-12">
                    <select id="company" ng-model="vm.workingTime.CompanyId" ng-change="vm.filterCompanyYear()" required class="form-control"
                            ng-options="company.Id as company.Name for company in vm.Companies |filter:{IsShow:true}"></select>
                </div>
                <div class="col-md-1"></div>
                <label class="control-label col-md-1 col-xs-12">
                    {{'Manage_Year' | translate }}<span class="required">*</span>:
                </label>
                <div class="col-md-4 col-xs-12">
                    <select ng-model="vm.workingTime.Year" ng-change="vm.filterCompanyYear()"
                            ng-options="year for year in vm.years" required class="form-control "></select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div>
                    <label class="control-label col-md-2 col-xs-12">
                        {{'Manage_Morning_From' | translate }}<span class="required">*</span>:
                    </label>
                    <div class="col-md-1 col-xs-3">
                        <select ng-model="vm.workingTime.Time1" ng-change="vm.changeTime()" required class="form-control working-time"
                                ng-options="time.Id as time.Name for time in vm.times"></select>
                    </div>
                    <label class="control-label col-md-1 col-xs-4" style="text-align: center!important;">
                        {{'Manage_Morning_To' | translate }}:
                    </label>
                    <div class="col-md-1 col-xs-3">
                        <select ng-model="vm.workingTime.Time2" ng-change="vm.changeTime()" required class="form-control working-time"
                                ng-options="time.Id as time.Name for time in vm.times | filter: vm.filterGreater1"></select>
                    </div>
                </div>
                <div class="col-md-2 col-xs-12"></div>
                <div>
                    <label class="control-label col-md-1 col-xs-12">
                        {{'Manage_Afternoon_From' | translate }}<span class="required">*</span>:
                    </label>
                    <div class="col-md-1 col-xs-3">
                        <select ng-model="vm.workingTime.Time3" ng-change="vm.changeTime()" required class="form-control working-time"
                                ng-options="time.Id as time.Name for time in vm.times | filter: vm.filterGreater2"></select>
                    </div>
                    <label required class="control-label col-md-1 col-xs-4" style="text-align: center!important;">
                        {{'Manage_Morning_To' | translate }}:
                    </label>
                    <div class="col-md-1 col-xs-3">
                        <select ng-model="vm.workingTime.Time4" ng-change="vm.changeTime()" required class="form-control working-time"
                                ng-options="time.Id as time.Name for time in vm.times | filter: vm.filterGreater3"></select>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-2 col-xs-12">
                        {{'Manage_WorkingHours' | translate }}
                    </label>
                    <div class="col-md-2 col-xs-6">
                        <input type="number" readonly="readonly" step="0.01" ng-model="vm.workingTime.HourPerDay" ng-max class="form-control" min="1" max="9999" />
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-2 col-xs-12">
                        {{'Manage_NoWorkingDays' | translate }}:
                    </label>
                    <div class="col-md-4 col-xs-12">
                        <div style="display: inline-block; min-height: 290px;" id="manage-working-time">
                            <uib-datepicker ng-model="vm.month"
                                            change-month="vm.onChangeMonth()"
                                            class="well well-sm"
                                            select-range="true"
                                            custom-class="vm.getDayClass(date, mode)"
                                            show-weeks="false"></uib-datepicker>
                        </div>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <table class="tile_info">
                            <tr ng-repeat="item in vm.commentdata">
                                <td>
                                    <p>
                                        <i class="fa fa-square {{item.Color}}"></i>{{item.Name}}
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-2">
                <div class="form-group">
                    <button type="submit" ng-click="vm.Edit()" ng-show="vm.workingTime.CompanyId && vm.isShowEdit" class="btn btn-success">{{'CreateFrom_Edit' | translate}}</button>
                </div>
            </div>

            <div class="form-group col-md-8 col-xs-10">
                <div class="col-md-12 col-md-offset-3 text-center">
                    <button type="submit" ng-click="vm.Save()" ng-show="vm.workingTime.CompanyId" class="btn btn-success">{{'Button_Draft' | translate}}</button>
                    <button type="submit" ng-click="vm.backRequestPage()" class="btn btn-warning ">{{'Button_Back' | translate}}</button>
                </div>
            </div>

        </div>
    </div>
</form>
<div class="modal fade confirmation-back" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_Back' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.back()">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>