﻿<form id="form" data-parsley-validate class="form-horizontal form-label-left" novalidate ng-show="!vm.loading">
    <div class="row">
        <div class="col-md-12" style="margin-top: 20px">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="nav navbar-left panel_toolbox">
                        <li>
                            <p>
                                <h3 class="text-uppercase">{{vm.Title | translate}}</h3>
                            </p>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-12">
                    <ul class="parsley-errors-list filled" id="parsley-id-10" ng-show="vm.isShowMsg">
                        <li class="parsley-required" id="errMsg">
                            <img src="content/image/ico/error.png" height="20" width="20" />
                            {{vm.errorMessage | translate }}
                        </li>
                    </ul>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'CreateFrom_RequestGroup' | translate }}<span class="required">*</span>:
                        </label>
                        <div class="col-md-4 col-xs-12" id="DDL">
                            <select ng-model="vm.requestType.CategoryId" required class="form-control select2_single">
                                <option value="{{group.Id}}" ng-repeat="group in vm.groups">{{group.Name}}</option>
                            </select>
                        </div>
                        <label class="control-label col-md-2 col-xs-12">
                            {{'CreateFrom_StyleRequestLabel' | translate }}<span class="required">*</span>:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <input type="text" ng-model="vm.requestType.Name" required class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'CreateFrom_RegionProcess' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <input type="checkbox" ng-model="vm.requestType.ProcessBySite"/>
                        </div>
                        <label class="control-label col-md-2 col-xs-12">
                            {{'CreateFrom_Order' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <input type="text" ng-model="vm.requestType.Order" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'CreateFrom_Effected' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <input type="checkbox" ng-model="vm.requestType.IsActive"/>
                        </div>
                        <label class="control-label col-md-2 col-xs-12">
                            {{'CreateFrom_TATDefault' | translate }}:
                        </label>
                        <div class="col-md-2 col-xs-12">
                            <input type="number" step="0.01" ng-model="vm.requestType.TAT" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-4 col-xs-12">
                    <div class="col-md-12 col-md-offset-6 text-left">
                        <button type="submit" ng-show="(vm.permission.Add && !vm.RequestTypeId) || (vm.permission.Edit && vm.RequestTypeId)"
                                ng-click="vm.Save()" class="btn btn-success">
                            <i class="fa fa-save"></i> 
                            {{'Button_Draft' | translate}}
                        </button>
                        <button type="submit" ng-click="vm.backRequestPage()" class="btn btn-warning"><i class="fa fa-arrow-left"></i> {{'Button_Back' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="modal fade confirmation-back" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_Back' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.back()">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>