﻿<div ng-show="!vm.loading">
    <form data-parsley-validate class="form-horizontal form-label-left" novalidate>
        <div class="row x_panel">
            <div class="x_title">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <h3>{{'CreateFrom_ManageRequestType' | translate | uppercase}}</h3>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'CreateFrom_StyleRequestLabel' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <input type="text" ng-model="vm.selectedRequestType" required class="form-control">
                        </div>
                        <label class="control-label col-md-2 col-xs-12">
                            {{'CreateFrom_RequestTypeStatus' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <select ng-model="vm.selectedStatus" required class="form-control">
                                <option value="-1">{{'SearchFrom_RoleStatus_All' | translate }}</option>
                                <option value="1">{{'SearchFrom_RoleStatus_On' | translate }}</option>
                                <option value="0">{{'SearchFrom_RoleStatus_Off' | translate }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'CreateFrom_RequestGroup' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <select ng-model="vm.selectedGroup" ng-init="vm.selectedGroup='-1'" required class="form-control">
                                <option value="-1" selected="selected">{{'SearchFrom_RoleStatus_All' | translate }}</option>
                                <option value="{{group.Id}}" ng-repeat="group in vm.groups">{{group.Name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-8 col-xs-12">
                    <div class="col-md-12 col-md-offset-3 text-center">
                        <button type="submit" ng-click="vm.searchRequestType('true')" class="btn btn-success"><i class="fa fa-search"></i> {{'CreateFrom_Find' | translate}}</button>
                        <button type="submit" ng-show="vm.permissionAddRequestType.Add" ng-click="vm.addNew()" class="btn btn-success"><i class="fa fa-plus"></i> {{'CreateFrom_AddNew' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row x_panel">
        <fieldset class="col-md-12 col-xs-12">
        <legend>{{'AddRequest_RequestTypeList' | translate |uppercase }}</legend>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group col-md-12 col-xs-12" id="table">
                <table datatable="ng" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{'CreateFrom_RequestType' | translate }}</th>
                        <th>{{'CreateFrom_Group' | translate }}</th>
                        <th>{{'CreateFrom_TAT' | translate }}</th>
                        <th>{{'CreateFrom_RegionProcess' | translate }}</th>
                        <th>{{'CreateFrom_Status' | translate }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in vm.searchResult">
                        <td>{{ item.Name }}</td>
                        <td>{{ item.CategoryName }}</td>
                        <td>{{ item.TAT }}</td>
                        <td>{{ item.IsRegion }}</td>
                        <td>{{ item.IsActive }}</td>
                        <td>
                            <button type="button" ng-show="vm.permissionAddRequestType.Edit" ng-click="vm.edit(item)" class="btn btn-success"><i class="fa fa-pencil"></i> {{'CreateFrom_Edit' | translate}}</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
       </fieldset>
    </div>
    
</div>