﻿<div ng-show="!vm.loading">
    <form data-parsley-validate class="form-horizontal form-label-left" novalidate>
        <div class="row x_panel">
            <div class="x_title">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <h3>{{'ManageProcess_Header' | translate | uppercase}}</h3>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <fieldset class="col-md-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label col-md-2 col-xs-12">
                                {{'ManageProcess_RequestType' | translate }}:
                            </label>
                            <div class="col-md-4 col-xs-12">
                                <select class="select2_multiple form-control" multiple="multiple"
                                        ng-model="vm.searchCriteria.ServiceId"
                                        ng-options="type.Id as type.Name for type in vm.services">
                                </select>
                            </div>
                            <label class="control-label col-md-2 col-xs-12">
                                {{'ManageProcess_RequestCode' | translate }}:
                            </label>
                            <div class="col-md-4 col-xs-12">
                                <input type="text" ng-model="vm.searchCriteria.RequestNo" required class="form-control">
                            </div>

                        </div>
                    </div>

                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label col-md-2 col-xs-12">
                                {{'ManageProcess_RequestName' | translate }}:
                            </label>
                            <div class="col-md-10 col-xs-12">
                                <input type="text" ng-model="vm.searchCriteria.RequestName" required class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label col-md-2 col-xs-12">
                                {{'ManageProcess_Status' | translate }}:
                            </label>
                            <div class="col-md-4 col-xs-12">
                                <select class="select2_multiple form-control" multiple="multiple"
                                        ng-model="vm.searchCriteria.RequestStatusId"
                                        ng-options="status.Id as status.Name for status in vm.requestStatus">
                                </select>
                            </div>
                            <label class="control-label col-md-2 col-xs-12">
                                {{ 'ManageProcess_RequestUser' | translate }}:
                            </label>
                            <div class="col-md-4 col-xs-12">
                                <select id="users-ddl" class="select2_multiple form-control" multiple="multiple"
                                        ng-model="vm.searchCriteria.RequesterId"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-xs-12 col-sm-12">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageRequest_DateFrom' | translate }}:
                        </label>
                        <div class="control-group col-md-4 col-xs-12">
                            <p class="input-group col-md-12 col-xs-12">
                                <input type="text" class="form-control date-picker date-picker-invalid"
                                       datetime-picker='{{dateFormat}}'
                                       ng-model="vm.searchCriteria.CreateDate"
                                       is-open="vm.openFrom"
                                       ng-click="vm.openFrom = true" />
                                <span class="fa fa-calendar form-control-feedback"></span>
                            </p>
                        </div>
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageRequest_DateTo' | translate }}
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <p class="input-group col-md-12 col-xs-12">
                                <input type="text" class="form-control date-picker date-picker-invalid"
                                       datetime-picker='{{dateFormat}}'
                                       ng-model="vm.searchCriteria.CreateDateTo"
                                       is-open="vm.openTo"
                                       ng-click="vm.openTo = true" />
                                <span class="fa fa-calendar form-control-feedback"></span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-xs-12 col-sm-12">
                        <div class="col-md-2"></div>
                        <div class="col-md-4 col-xs-12" style="margin: -25px 0 20px 0">
                            <label class="control-label error date-picker-0">
                                {{'ManageRequest_InvalidDate' | translate }}
                            </label>
                            <label class="control-label error" ng-if="!vm.checkValid()">
                                {{'ManageRequest_InvalidDateTo' | translate}}
                            </label>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4 col-xs-12" style="margin: -25px 0 20px 0">
                            <label class="control-label error date-picker-1">
                                {{'ManageRequest_InvalidDate' | translate }}
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">{{'HomePage_ProcessWaiting' | translate}}:</label>
                        <div class="col-md-3 col-sm-3 col-xs-10">
                            <input type="text" disabled="disabled" style="background-color: #e2e2e2;" value="{{vm.counter.waitingForProcess}}" class="form-control">
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-2 text-right">
                            <a class="btn btn-success" ng-click="vm.searchRequest(vm.requestStatusConstant.WaitingForProcess,'')">...</a>
                        </div>
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">{{ 'HomePage_Processing' | translate}}:</label>
                        <div class="col-md-3 col-sm-3 col-xs-10">
                            <input type="text" disabled="disabled" style="background-color: #e2e2e2;" value="{{vm.counter.processing}}" class="form-control">
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-2 text-right">
                            <a class="btn btn-success" ng-click="vm.searchRequest(vm.requestStatusConstant.Processing,'')">...</a>
                        </div>
                    </div>
                    <div class="form-group col-md-8 col-xs-12">
                        <div class="col-md-12 col-md-offset-3 text-center">
                            <button type="submit" ng-click="vm.searchRequest('','true')" class="btn btn-success"><i class="fa fa-search"></i> {{'Button_Search' | translate}}</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
    <div class="row x_panel">
        <fieldset class="col-md-12 col-xs-12">
            <legend>{{'ManageProcess_SearchResultLabel' | translate |uppercase}}</legend>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group col-md-12 col-xs-12" id="table">
                    <table datatable="ng" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="table table-striped">
                        <thead>
                            <tr>
                                <th>{{'ManageProcess_RequestCode' | translate }}</th>
                                <th>{{'ManageProcess_RequestName' | translate }}</th>
                                <th>{{'ManageProcess_RequestType' | translate }}</th>
                                <th>{{'ManageProcess_RequestUser' | translate }}</th>
                                <th>{{'ManageProcess_CreateDate' | translate }}</th>
                                <th>{{'ManageProcess_Status' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm.searchResult">
                                <td>{{ item.RequestNo }}</td>
                                <td><a href="#/processrequest?requestid={{item.RequestId}}" ng-if="vm.permissionProcess.View"><u>{{ item.RequestName }}</u></a></td>
                                <td>{{ item.RequestTypeName }}</td>
                                <td>{{ item.RequesterName }}</td>
                                <td>{{ item.CreatedDate | date:dateTimeFormat }}</td>
                                <td>{{ item.RequestStatusName }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    </div>
</div>