﻿<div class="row" ng-show="!vm.loading">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <p>
                            <h3>{{'ProcessRequest_Header' | translate | uppercase}}</h3>
                        </p>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <requestinfor></requestinfor>

                <div class="x_panel">
                    <div class="x_title">
                        <div class="col-md-12 col-xs-12">
                            <ul class="nav navbar-left panel_toolbox">
                                <li>
                                    <a class="collapse-link" data-toggle="collapse" href="#site2">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                            <label class="tittle-section" data-toggle="collapse" href="#site2">{{'ProcessRequest_Title2' | translate | uppercase}}</label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="collapse in col-md-12 col-xs-12 col-sm-12" id="site2">
                        <form id="form" data-parsley-validate class="form-horizontal form-label-left" novalidate>
                            <fieldset class="col-md-12 col-xs-12">
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="control-label col-md-2 col-xs-12">
                                        {{'ProcessRequest_ProcessDescription' | translate}}:
                                    </label>
                                    <div class="col-md-10 col-xs-12 col-sm-12">                                        
                                        <div id="tiny">
                                            <textarea ui-tinymce="tinymceOptions" class="form-control col-md-12 col-xs-12" rows="10" ng-model="vm.request.Description"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12" ng-if="vm.childRequests.length > 0">
                                    <label class="control-label col-md-2 col-xs-12">
                                        {{'ProcessRequest_RequestRefer' | translate}}:
                                    </label>
                                    <div class="control-label col-md-10 col-xs-12" id="table">
                                        <table datatable="ng" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>{{'ProcessRequest_RequestCode' | translate }}</th>
                                                    <th>{{'ProcessRequest_RequestType' | translate }}</th>
                                                    <th>{{'ProcessRequest_RequestName' | translate }}</th>
                                                    <th>{{'ProcessRequest_Status' | translate }}</th>
                                                    <th>{{'ProcessRequest_CreateDate' | translate }}</th>
                                                    <th>{{'ProcessRequest_CreateUser' | translate }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in vm.childRequests">
                                                    <td>
                                                        <a href="#/followrequest?requestid={{item.RequestId}}" ng-show="vm.permissionFollowRequest.View"><u>{{ item.RequestNo }}</u></a>
                                                        <p ng-show="!vm.permissionFollowRequest.View">{{ item.RequestNo }}</p>
                                                    </td>
                                                    <td>{{ item.RequestTypeName }}</td>
                                                    <td>{{item.RequestName}}</td>
                                                    <td>{{ item.RequestStatusName }}</td>
                                                    <td>{{ item.CreatedDate | date:dateTimeFormat }}</td>
                                                    <td>{{ item.RequesterName }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12" ng-show="vm.showBtnRelateCreate">
                                    <div class="col-md-10 col-md-offset-2 col-xs-12 text-left">
                                        <button type="submit" ng-click="vm.createRequest()" class="btn btn-success"><i class="fa fa-search"></i> {{'Button_CreateReferRequest' | translate }}</button>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="control-label col-md-2 col-xs-12">
                                        {{'ProcessRequest_Note' | translate}}:
                                    </label>
                                    <div class="col-md-10 col-xs-12">
                                        <textarea id="processNote" ng-model="vm.request.Note" class="form-control col-md-12 col-xs-12" ng-change="vm.onTextareChange()" rows="5">
                                            {{vm.processinfo.Note}}
                                        </textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12 col-sm-12">
                                    <div class="col-md-10 col-md-offset-2 col-xs-12 error" ng-if="vm.isShowMsg">
                                        <label class="control-label">
                                            {{'Required' | translate }}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-success"
                                                data-toggle="modal" data-target=".confirmation-draff-request" ng-click="vm.processRequest(0)">
                                            <i class="fa fa-save" aria-hidden="true"></i> {{'Button_Draft' | translate }}
                                        </button>
                                        <button type="submit" class="btn btn-success" ng-show="vm.showBtnStart"
                                                data-toggle="modal" data-target=".confirmation-start-request" ng-click="vm.processRequest(1)">
                                            <i class="fa fa-play" aria-hidden="true"></i> {{'Button_Start' | translate }}
                                        </button>
                                        <button type="submit" class="btn btn-success" ng-show="vm.showBtnFinish"
                                                data-toggle="modal" data-target=".confirmation-complete-request" ng-click="vm.processRequest(2)">
                                            <i class="fa fa-stop" aria-hidden="true"></i> {{'Button_Finish' | translate }}
                                        </button>
                                        <button type="submit" class="btn btn-warning" ng-show="vm.showBtnReject"
                                                data-toggle="modal" data-target=".confirmation-reject-request">
                                            <i class="fa fa-close" aria-hidden="true"></i> {{'Button_Deny' | translate }}
                                        </button>
                                        <button type="submit" ng-click="vm.confirmBack()" class="btn btn-warning"><i class="fa fa-arrow-left" aria-hidden="true"></i> {{'Button_Back' | translate }}</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <comment></comment>
            </div>
        </div>
    </div>

</div>

<div class="modal fade confirmation-reject-request" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_RejectRequest' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.processRequest(3)">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade confirmation-back" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_Back' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.back()">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>