﻿<div ng-show="!vm.loading">
    <form data-parsley-validate class="form-horizontal form-label-left" novalidate>
        <div class="row x_panel">
            <div class="x_title">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <h3>{{'Report_Header' | translate | uppercase}}</h3>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <fieldset class="col-md-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px">
                    <div class="form-group col-md-12 col-xs-12 col-sm-12">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageRequest_RequestCode' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <input type="text" ng-model="vm.searchCriteria.RequestNo" class="form-control">
                        </div>
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageRequest_RequestName' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <input type="text" ng-model="vm.searchCriteria.RequestName" class="form-control">
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-xs-12 col-sm-12">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageRequest_RequestType' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12 col-sm-12">
                            <select class="select2_multiple form-control" multiple="multiple"
                                    ng-model="vm.searchCriteria.ServiceId"
                                    ng-options="type.Id as type.Name for type in vm.services"></select>
                        </div>
                        <label class="control-label col-md-2 col-xs-12">
                            {{'Report_Company' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12 col-sm-12">
                            <select class="select2_multiple form-control"
                                    ng-change="vm.onCompanyChange()" multiple="multiple"
                                    ng-model="vm.searchCriteria.CompanyIds"
                                    ng-options="type.CompanyId as type.CompanyName for type in vm.companies">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-xs-12 col-sm-12">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'Report_Department' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12 col-sm-12">
                            <select class="select2_multiple form-control"
                                    ng-change="vm.onDepartmentChange()" multiple="multiple"
                                    ng-model="vm.searchCriteria.DepartmentIds"
                                    ng-options="type.DepartmentId as type.DepartmentName for type in vm.departments">
                            </select>
                        </div>
                        <label class="control-label col-md-2 col-xs-12">
                            {{'Report_Group' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12 col-sm-12">
                            <select class="select2_multiple form-control" multiple="multiple"
                                    ng-model="vm.searchCriteria.GroupIds"
                                    ng-options="type.GroupId as type.GroupName for type in vm.groups">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-xs-12 col-sm-12">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'Report_RequestStatusLabel' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <select class="select2_multiple form-control" multiple="multiple"
                                    ng-model="vm.searchCriteria.RequestStatusId"
                                    ng-options="status.Id as status.Name for status in vm.requestStatus">
                            </select>
                        </div>
                        <label class="control-label col-md-2 col-xs-12">
                            {{'Report_CompletedStatusLabel' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <select ng-model="vm.searchCriteria.CompletedStatusId" class="form-control"
                                    ng-options="status.Id as status.Name for status in vm.completedStatus">
                            </select>
                        </div>
                    </div>

                    <div class="x_title">
                        <div class="col-md-12 col-xs-12">
                            <ul class="nav navbar-left panel_toolbox">
                                <li>
                                    <a class="collapse-link" ng-click="vm.collapse()" data-toggle="collapse" href="#site1">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                            <label class="tittle-section" data-toggle="collapse" href="#site1">{{'Report_RequestTimeHeader' | translate | uppercase}}</label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="collapse col-md-12 col-xs-12" id="site1">
                        <div class="form-group col-md-12 col-xs-12 col-sm-12">
                            <label class="control-label col-md-2 col-xs-12">
                                {{'ManageRequest_Requester' | translate }}:
                            </label>
                            <div class="col-md-4 col-xs-12 col-sm-12">
                                <select class="select2_multiple form-control" multiple="multiple" ng-model="vm.searchCriteria.RequesterIds"
                                        ng-options="requester.UserId as requester.Account for requester in vm.requesters">
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12 col-sm-12">
                            <label class="control-label col-md-2 col-xs-12">
                                {{'Report_FromDate' | translate }}:
                            </label>
                            <div class="control-group col-md-4 col-xs-12">
                                <p class="input-group col-md-12 col-xs-12">
                                    <input type="text" class="form-control date-picker date-picker-invalid1"
                                           datetime-picker='{{dateFormat}}'
                                           ng-model="vm.searchCriteria.RequestFromDate"
                                           is-open="vm.openFrom1"
                                           ng-click="vm.openFrom1 = true" />
                                    <span class="fa fa-calendar form-control-feedback"></span>
                                </p>
                            </div>
                            <label class="control-label col-md-2 col-xs-12">
                                {{'Report_ToDate' | translate }}:
                            </label>
                            <div class="col-md-4 col-xs-12">
                                <p class="input-group col-md-12 col-xs-12">
                                    <input type="text" class="form-control date-picker date-picker-invalid1"
                                           datetime-picker='{{dateFormat}}'
                                           ng-model="vm.searchCriteria.RequestToDate"
                                           is-open="vm.openTo1"
                                           ng-click="vm.openTo1 = true" />
                                    <span class="fa fa-calendar form-control-feedback"></span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12 col-sm-12">
                            <div class="col-md-2"></div>
                            <div class="col-md-4 col-xs-12" style="margin: -25px 0 20px 0">
                                <label class="control-label error date-picker-0 date-picker-mgs">
                                    {{'ManageRequest_InvalidDate' | translate }}
                                </label>
                                <label class="control-label error" ng-if="!vm.checkValid1()">
                                    {{'ManageRequest_InvalidDateTo' | translate}}
                                </label>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4 col-xs-12" style="margin: -25px 0 20px 0">
                                <label class="control-label error date-picker-1 date-picker-mgs">
                                    {{'ManageRequest_InvalidDate' | translate }}
                                </label>
                            </div>
                        </div>

                    </div>

                    <div class="x_title">
                        <div class="col-md-12 col-xs-12">
                            <ul class="nav navbar-left panel_toolbox">
                                <li>
                                    <a class="collapse-link" ng-click="vm.collapse()" data-toggle="collapse" href="#site2">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                            <label class="tittle-section" data-toggle="collapse" href="#site2">{{'Report_ApproveTimeHeader' | translate | uppercase}}</label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="collapse col-md-12 col-xs-12" id="site2">
                        <div class="form-group col-md-12 col-xs-12 col-sm-12">
                            <label class="control-label col-md-2 col-xs-12">
                                {{'ManageApprove_Requester' | translate }}:
                            </label>
                            <div class="col-md-4 col-xs-12 col-sm-12">
                                <select class="select2_multiple form-control" multiple="multiple" ng-model="vm.searchCriteria.ApproverIds"
                                        ng-options="requester.UserId as requester.Account for requester in vm.approvers"></select>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12 col-sm-12">
                            <label class="control-label col-md-2 col-xs-12">
                                {{'Report_FromDate' | translate }}:
                            </label>
                            <div class="control-group col-md-4 col-xs-12">
                                <p class="input-group col-md-12 col-xs-12">
                                    <input type="text" class="form-control date-picker date-picker-invalid2"
                                           datetime-picker='{{dateFormat}}'
                                           ng-model="vm.searchCriteria.ApproveFromDate"
                                           is-open="vm.openFrom2"
                                           ng-click="vm.openFrom2 = true" />
                                    <span class="fa fa-calendar form-control-feedback"></span>
                                </p>
                            </div>
                            <label class="control-label col-md-2 col-xs-12">
                                {{'Report_ToDate' | translate }}:
                            </label>
                            <div class="col-md-4 col-xs-12">
                                <p class="input-group col-md-12 col-xs-12">
                                    <input type="text" class="form-control date-picker date-picker-invalid2"
                                           datetime-picker='{{dateFormat}}'
                                           ng-model="vm.searchCriteria.ApproveToDate"
                                           is-open="vm.openTo2"
                                           ng-click="vm.openTo2 = true" />
                                    <span class="fa fa-calendar form-control-feedback"></span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12 col-sm-12">
                            <div class="col-md-2"></div>
                            <div class="col-md-4 col-xs-12" style="margin: -25px 0 20px 0">
                                <label class="control-label error date-picker-2 date-picker-mgs">
                                    {{'ManageRequest_InvalidDate' | translate }}
                                </label>
                                <label class="control-label error" ng-if="!vm.checkValid2()">
                                    {{'ManageRequest_InvalidDateTo' | translate}}
                                </label>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4 col-xs-12" style="margin: -25px 0 20px 0">
                                <label class="control-label error date-picker-3 date-picker-mgs">
                                    {{'ManageRequest_InvalidDate' | translate }}
                                </label>
                            </div>
                        </div>

                    </div>

                    <div class="x_title">
                        <div class="col-md-12 col-xs-12">
                            <ul class="nav navbar-left panel_toolbox">
                                <li>
                                    <a class="collapse-link" ng-click="vm.collapse()" data-toggle="collapse" href="#site3">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                            <label class="tittle-section" data-toggle="collapse" href="#site3">{{'Report_AssignTimeHeader' | translate | uppercase}}</label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="collapse col-md-12 col-xs-12" id="site3">
                        <div class="form-group col-md-12 col-xs-12 col-sm-12">
                            <label class="control-label col-md-2 col-xs-12">
                                {{'ManageAssign_Requester' | translate }}:
                            </label>
                            <div class="col-md-4 col-xs-12 col-sm-12">
                                <select class="select2_multiple form-control" multiple="multiple" ng-model="vm.searchCriteria.AssignerIds"
                                        ng-options="requester.UserId as requester.Account for requester in vm.assigners"></select>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12 col-sm-12">
                            <label class="control-label col-md-2 col-xs-12">
                                {{'Report_FromDate' | translate }}:
                            </label>
                            <div class="control-group col-md-4 col-xs-12">
                                <p class="input-group col-md-12 col-xs-12">
                                    <input type="text" class="form-control date-picker date-picker-invalid3"
                                           datetime-picker='{{dateFormat}}'
                                           ng-model="vm.searchCriteria.AssignFromDate"
                                           is-open="vm.openFrom3"
                                           ng-click="vm.openFrom3 = true" />
                                    <span class="fa fa-calendar form-control-feedback"></span>
                                </p>
                            </div>
                            <label class="control-label col-md-2 col-xs-12">
                                {{'Report_ToDate' | translate }}:
                            </label>
                            <div class="col-md-4 col-xs-12">
                                <p class="input-group col-md-12 col-xs-12">
                                    <input type="text" class="form-control date-picker date-picker-invalid3"
                                           datetime-picker='{{dateFormat}}'
                                           ng-model="vm.searchCriteria.AssignToDate"
                                           is-open="vm.openTo3"
                                           ng-click="vm.openTo3 = true" />
                                    <span class="fa fa-calendar form-control-feedback"></span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12 col-sm-12">
                            <div class="col-md-2"></div>
                            <div class="col-md-4 col-xs-12" style="margin: -25px 0 20px 0">
                                <label class="control-label error date-picker-4 date-picker-mgs">
                                    {{'ManageRequest_InvalidDate' | translate }}
                                </label>
                                <label class="control-label error" ng-if="!vm.checkValid3()">
                                    {{'ManageRequest_InvalidDateTo' | translate}}
                                </label>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4 col-xs-12" style="margin: -25px 0 20px 0">
                                <label class="control-label error date-picker-5 date-picker-mgs">
                                    {{'ManageRequest_InvalidDate' | translate }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="x_title">
                        <div class="col-md-12 col-xs-12">
                            <ul class="nav navbar-left panel_toolbox">
                                <li>
                                    <a class="collapse-link" ng-click="vm.collapse()" data-toggle="collapse" href="#site4">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                            <label class="tittle-section" data-toggle="collapse" href="#site4">{{'Report_ProcessTimeHeader' | translate | uppercase}}</label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="collapse col-md-12 col-xs-12" id="site4">
                        <div class="form-group col-md-12 col-xs-12 col-sm-12">
                            <label class="control-label col-md-2 col-xs-12">
                                {{'ManageProcess_Requester' | translate }}:
                            </label>
                            <div class="col-md-4 col-xs-12 col-sm-12">
                                <select class="select2_multiple form-control" multiple="multiple" ng-model="vm.searchCriteria.HandlerIds"
                                        ng-options="requester.UserId as requester.Account for requester in vm.handlers"></select>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12 col-sm-12">
                            <label class="control-label col-md-2 col-xs-12">
                                {{'Report_FromDate' | translate }}:
                            </label>
                            <div class="control-group col-md-4 col-xs-12">
                                <p class="input-group col-md-12 col-xs-12">
                                    <input type="text" class="form-control date-picker date-picker-invalid4"
                                           datetime-picker='{{dateFormat}}'
                                           ng-model="vm.searchCriteria.HandleFromDate"
                                           is-open="vm.openFrom4"
                                           ng-click="vm.openFrom4 = true" />
                                    <span class="fa fa-calendar form-control-feedback"></span>
                                </p>
                            </div>
                            <label class="control-label col-md-2 col-xs-12">
                                {{'Report_ToDate' | translate }}:
                            </label>
                            <div class="col-md-4 col-xs-12">
                                <p class="input-group col-md-12 col-xs-12">
                                    <input type="text" class="form-control date-picker date-picker-invalid4"
                                           datetime-picker='{{dateFormat}}'
                                           ng-model="vm.searchCriteria.HandleToDate"
                                           is-open="vm.openTo4"
                                           ng-click="vm.openTo4 = true" />
                                    <span class="fa fa-calendar form-control-feedback"></span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12 col-sm-12">
                            <div class="col-md-2"></div>
                            <div class="col-md-4 col-xs-12" style="margin: -25px 0 20px 0">
                                <label class="control-label error date-picker-6 date-picker-mgs">
                                    {{'ManageRequest_InvalidDate' | translate }}
                                </label>
                                <label class="control-label error" ng-if="!vm.checkValid4()">
                                    {{'ManageRequest_InvalidDateTo' | translate}}
                                </label>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4 col-xs-12" style="margin: -25px 0 20px 0">
                                <label class="control-label error date-picker-7 date-picker-mgs">
                                    {{'ManageRequest_InvalidDate' | translate }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-8 col-xs-12">
                        <div class="col-md-12 col-md-offset-3 text-center">
                            <button type="submit" ng-click="vm.getReport()" class="btn btn-success"><i class="fa fa-file-text-o" aria-hidden="true"></i> {{'Button_Report' | translate}}</button>
                            <button type="submit" ng-click="vm.downloadReport()" ng-show="vm.permission.Download" class="btn btn-success"><i class="fa fa-download" aria-hidden="true"></i> {{'Button_DownReport' | translate}}</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
    <fieldset class="col-md-12 col-xs-12" ng-if="vm.isShowGrid">

        <div class="row x_panel">
            <legend>{{'ReportResult' | translate | uppercase }}</legend>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group col-md-12 col-xs-12 report-table">
                    <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstance" class="table table-striped"></table>
                </div>
            </div>            
        </div>
    </fieldset>
</div>