﻿<form id="form" data-parsley-validate class="form-horizontal form-label-left" novalidate ng-show="!vm.loading">
    <div class="row x_panel">
        <div class="x_title">
            <ul class="nav navbar-left panel_toolbox">
                <li>
                    <h3>{{'Menu_AddEmailTemplate' | translate | uppercase}}</h3>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-12" style="margin-top: 20px">
            <div style="background: #fff">
                <div class="col-md-12 col-xs-12" ng-if="vm.isShowSuccessMsg">
                    <p class="success-msg col-md-12 col-xs-12" ng-bind-html="vm.succesMessage"></p>
                </div>
                <ul class="parsley-errors-list filled" id="parsley-id-10" ng-show="vm.isShowErrorMsg">
                    <li class="parsley-required" id="errMsg">
                        <img src="content/image/ico/error.png" height="20" width="20" /><p ng-bind-html="vm.errorMessage"></p>
                    </li>
                </ul>
                <div class="form-group">
                    <label class="control-label col-md-2 col-xs-12">
                        {{'SearchFrom_EmailTemplate_Name' | translate }}<span class="required">*</span>:
                    </label>
                    <div class="col-md-6 col-xs-12">
                        <input type="text" ng-model="vm.emailTemplate.Name" maxlength="255" required class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-xs-12">
                        {{'SearchFrom_EmailTemplate_Subject' | translate }}<span class="required">*</span>:
                    </label>
                    <div class="col-md-6 col-xs-12">
                        <input type="text" ng-model="vm.emailTemplate.Subject" maxlength="255" required class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-xs-12">
                        {{'SearchFrom_EmailTemplate_StatusTo' | translate }}<span class="required">*</span>:
                    </label>
                    <div class="col-md-3 col-xs-12">
                        <select ng-model="vm.emailTemplate.StatusToId" required class="form-control"
                                ng-options="p.Id as p.Name for p in vm.RequestStatus">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-xs-12">
                        {{'SearchFrom_EmailTemplate_Content' | translate }}<span class="required">*</span>:
                    </label>
                    <div class="col-md-10 col-xs-12">                                                  
                        <div id="tiny">
                            <textarea ui-tinymce="tinymceOptionsSetup" class="form-control col-md-12 col-xs-12" rows="10" ng-model="vm.emailTemplate.Content"></textarea>
                        </div>  
                    </div>                  
                </div>
                <div class="form-group ">
                    <label class="control-label col-md-2 col-xs-12">
                        {{'SearchFrom_EmailTemplateStatus_EmailCC' | translate }}:
                    </label>
                    <div class="col-md-4 col-xs-12">
                        <select id="users-ddl" class="select2_multiple form-control"
                                multiple="multiple" ng-model="vm.selectedUsers"></select>
                    </div>
                    <label class="control-label col-md-2 col-xs-12">
                        {{'SearchFrom_EmailTemplate_EmailSendTo' | translate }}:
                    </label>
                    <div class="col-md-3 col-xs-12">
                        <input type="text" id="pre-send" ng-model="vm.emailTemplate.EmailSendTo" maxlength="255" class="form-control">
                    </div>
                    <div class="col-md-1 col-xs-12">
                        <button type="submit" ng-click="vm.preSend()" class="btn btn-success"><i class="fa fa-send"></i> {{'Button_Send' | translate}}</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-xs-12">
                        {{'EmailTemplate_IsActive' | translate }}:
                    </label>
                    <div class="col-md-3 col-xs-12">
                        <input type="checkbox" name="status" ng-model="vm.emailTemplate.IsActive" />
                    </div>
                </div>
                <div class="form-group col-md-12 col-xs-12"></div>
                <div class="form-group col-md-12 col-xs-12">
                    <div class="col-md-12 text-center">
                        <button type="submit" ng-click="vm.Save()"
                                ng-show="(vm.permission.Add && !vm.emailTemplateId) || (vm.permission.Edit && vm.emailTemplateId)"
                                class="btn btn-success">
                            <i class="fa fa-save"></i> 
                            {{'Button_Draft' | translate}}
                        </button>
                        <button type="submit" ng-click="vm.confirmBack()" class="btn btn-warning"><i class="fa fa-arrow-left"></i> {{'Button_Back' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade confirmation-back" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_Back' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.back()">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>