﻿<form data-parsley-validate class="form-horizontal form-label-left" novalidate ng-show="!vm.loading">
    <div class="row x_panel">
        <div class="x_title">
            <ul class="nav navbar-left panel_toolbox">
                <li>
                    <h3>{{'Menu_ManageEmailTemplate' | translate | uppercase}}</h3>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-2 col-xs-12">
                        {{'SearchFrom_EmailTemplate_Name' | translate }}:
                    </label>
                    <div class="col-md-4 col-xs-12">
                        <input type="text" class="form-control" ng-model="vm.EmailTemplate.Name"/>
                    </div>
                    <label class="control-label col-md-2 col-xs-12">
                        {{'SearchFrom_EmailTemplate_Subject' | translate }}:
                    </label>
                    <div class="col-md-4 col-xs-12">
                        <input type="text" class="form-control" ng-model="vm.EmailTemplate.Subject"/>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-2 col-xs-12">
                        {{'SearchFrom_EmailTemplate_StatusTo' | translate }}:
                    </label>
                    <div class="col-md-4 col-xs-12">
                        <select ng-model="vm.EmailTemplate.StatusToId" class="form-control">
                            <option value="{{p.Id}}" ng-repeat="p in vm.RequestStatus">{{p.Name}}</option>
                        </select>
                    </div>
                    <label class="control-label col-md-2 col-xs-12">
                        {{'SearchFrom_EmailTemplate_Status' | translate }}:
                    </label>
                    <div class="col-md-4 col-xs-12">
                        <select ng-model="vm.EmailTemplate.IsActive" class="form-control">
                            <option value="-1">{{'SearchFrom_EmailTemplateStatus_All' | translate }}</option>
                            <option value="1">{{'SearchFrom_EmailTemplateStatus_On' | translate }}</option>
                            <option value="0">{{'SearchFrom_EmailTemplateStatus_Off' | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-8 col-xs-12">
                <div class="col-md-12 col-md-offset-3 text-center">
                    <button type="submit" ng-click="vm.searchEmailTemplate('true')" class="btn btn-success"><i class="fa fa-search"></i> {{'CreateFrom_Find' | translate}}</button>
                    <button type="submit" ng-click="vm.addNewEmailTemplate()" ng-show="vm.permissionAddEmail.Add" class="btn btn-success"><i class="fa fa-plus"></i> {{'CreateFrom_AddNew' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row x_panel">
    <fieldset class="col-md-12 col-xs-12">
        <legend>{{'Menu_EmailTemplateList' | translate |uppercase }}</legend>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group col-md-12 col-xs-12" id="table">
            <table datatable="ng" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="table table-striped">
                <thead>
                <tr>
                    <th style="width: 25%">{{'SearchFrom_EmailTemplate_Name' | translate }}</th>
                    <th style="width: 25%">{{'SearchFrom_EmailTemplate_Subject' | translate }}</th>
                    <th style="width: 20%">{{'SearchFrom_EmailTemplate_StatusTo' | translate }}</th>
                    <th style="width: 15%">{{'SearchFrom_EmailTemplate_Status' | translate }}</th>
                    <th style="width: 15%"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in vm.SearchResult">
                    <td>{{ item.Name }}</td>
                    <td>{{ item.Subject }}</td>
                    <td>{{ item.StatusToName }}</td>
                    <td>{{ item.Status }}</td>
                    <td>                        
                        <button type="button" ng-click="vm.edit(item)" ng-show="vm.permissionAddEmail.Edit" class="btn btn-success"><i class="fa fa-pencil"></i> {{'CreateFrom_Edit' | translate}}</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </fieldset>
</div>

