﻿<div class="row" ng-show="!vm.loading">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <p>
                            <h3>{{'AssignRequest_Header' | translate | uppercase}}</h3>
                        </p>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <requestinfor></requestinfor>
                <form id="form" data-parsley-validate class="form-horizontal form-label-left" novalidate>
                    <div class="x_panel">
                        <div class="x_title">
                            <div class="col-md-12 col-xs-12">
                                <ul class="nav navbar-left panel_toolbox">
                                    <li>
                                        <a>
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </li>
                                </ul>
                                <label class="tittle-section">{{'AssignRequest_SubTitle' | translate | uppercase}}</label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="collapse in col-md-12 col-xs-12" id="site2">
                            <fieldset class="col-md-12 col-xs-12">
                                <div class="error col-md-12 col-sm-12 col-xs-12">{{vm.message}}</div>
                                <div class="form-group col-md-12 col-xs-12" style="margin-top: 10px">
                                    <label class="col-md-2 col-xs-12">
                                        {{ 'AssignRequest_Department' | translate }}:
                                    </label>
                                    <div class="col-md-4 col-xs-12">
                                        <select ng-model="vm.request.GroupId" class="form-control assigned-group"
                                                ng-change="vm.onGroupChange()"
                                                ng-disabled="vm.requestAssign.IsCompleted"
                                                ng-options="item.GroupId as item.GroupName for item in vm.groups">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-md-2 col-xs-12"></div>
                                    <div class="col-md-10 col-xs-12">
                                        <ul class="parsley-errors-list filled" ng-show="vm.invalidGroup">
                                            <li class="parsley-required">{{'Required' | translate}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-2 col-xs-12">
                                        {{ 'AssignRequest_Assignee' | translate }}:
                                    </label>
                                    <div class="col-md-4 col-xs-12">
                                        <select ng-model="vm.request.AssigneeId" class="form-control assignee"
                                                ng-change="vm.onMemberChange()"
                                                ng-options="item.UserId as item.FullName + ' - ' +  item.UserName for item in vm.users"></select>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-md-2 col-xs-12"></div>
                                    <div class="col-md-10 col-xs-12">
                                        <ul class="parsley-errors-list filled" ng-show="vm.invalidUser">
                                            <li class="parsley-required">{{'Required' | translate}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="control-label col-md-2 col-xs-12">
                                        {{'AssignRequest_ProcessDescription' | translate }}:
                                    </label>
                                    <div class="col-md-10 col-xs-12">                                        
                                        <div id="tiny">
                                            <textarea ui-tinymce="tinymceOptions" class="form-control col-md-12 col-xs-12" rows="10" ng-model="vm.request.Description"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="control-label col-md-2 col-xs-12">
                                        {{'AssignRequest_Note' | translate}}:
                                    </label>
                                    <div class="col-md-10 col-xs-12">
                                        <textarea class="form-control col-md-12 col-xs-12 assign-note" rows="5" 
                                                  ng-model="vm.request.Note" required 
                                                  ng-change="vm.changeNote()" ></textarea>
                                    </div>
                                    <div class="col-md-2 col-xs-12"></div>
                                    <div class="col-md-10 col-xs-12">
                                        <ul class="parsley-errors-list-note required filled" ng-show="vm.requiredNote">
                                            <li class="parsley-required">{{'Required' | translate}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-success"
                                                ng-show="vm.requestAssign.IsWaittingForProcess || vm.requestAssign.IsWaittingForAssign"
                                                data-toggle="modal" data-target=".confirmation-assign-request"
                                                ng-click="vm.request.isCancel = false">
                                            <i class="fa fa-hand-o-left" aria-hidden="true"></i> {{'Button_Assign' | translate }}
                                        </button>
                                        <button type="submit" class="btn btn-warning"
                                                ng-show="vm.requestAssign.IsWaittingForAssign"
                                                data-toggle="modal" data-target=".confirmation-assign-request"
                                                ng-click="vm.request.isCancel = true">
                                            <i class="fa fa-close" aria-hidden="true"></i> {{'Button_Deny' | translate }}
                                        </button>
                                        <button type="submit" class="btn btn-warning" ng-click="vm.confirmBack()"><i class="fa fa-arrow-left" aria-hidden="true"></i> {{'Button_Back' | translate }}</button>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
                <comment></comment>
            </div>
        </div>
    </div>
</div>

<div class="modal fade confirmation-assign-request" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p ng-show="!vm.request.isCancel">{{'Confirmation_Assign' | translate}}</p>
                <p ng-show="vm.request.isCancel">{{'Confirmation_RejectRequest' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.assignRequest()">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade confirmation-back" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_Back' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.back()">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>