﻿<div class="x_panel">
    <div class="x_title">
        <div class="col-md-12 col-xs-12">
            <ul class="nav navbar-left panel_toolbox">
                <li>
                    <a class="collapse-link" data-toggle="collapse" href="#site5">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </li>

            </ul>
            <label class="tittle-section" data-toggle="collapse" href="#site5">{{'ApproveRequest_Title3' | translate | uppercase}}</label>
        </div>
        <div class="clearfix"></div>
    </div>
    <form id="form" data-parsley-validate class="form-horizontal form-label-left" novalidate>
        <div class="collapse in col-md-12 col-xs-12" id="site5">
            <div class="form-group col-md-12 col-xs-12">
                <label class="control-label col-md-2 col-xs-12">
                    {{'ApproveRequest_Comment' | translate}}:
                </label>
                <div class="col-md-7 col-xs-12">
                    <textarea id="editor" class="form-control col-md-12 col-xs-12" rows="5"
                              ng-model="comment.request.Content" ng-change="comment.onTextareChange()"></textarea>
                    <ul class="parsley-errors-list filled" id="parsley-id-13" ng-show="comment.isShowMsg">
                        <li class="parsley-required">{{'Required' | translate}}</li>
                    </ul>
                </div>
                <div class="form-group col-md-3 col-xs-12 text-right">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="comment.isFollowRequest" data-toggle="modal" data-target=".confirmation-following-request">{{'ApproveRequest_FollowCheckBox' | translate}}
                    </label>
                </div>
            </div>
            <div class="form-group col-md-12 col-xs-12" style="margin: 20px 0">
                <div class="form-group col-md-12 col-xs-12">
                    <label class="control-label col-md-2 col-xs-12">
                        {{'AddRequest_AttachFileLabel' | translate}}:
                    </label>
                    <div class="col-md-4 col-xs-12">
                        <input type="file" name="file" style="margin-bottom: 25px" id="comment-file"
                               onchange=" angular.element(this).scope().uploadedFile(this) " ng-disabled="comment.documents.length > 0" />
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <button type="submit" class="btn btn-success btn-upload"
                                ng-disabled="comment.invalidExtension || comment.documents.length > 0" ng-click="comment.uploadDocument()">
                            <i class="fa fa-upload" aria-hidden="true"></i> {{'Button_Upload' | translate }}
                        </button>
                    </div>
                    <div class="col-md-12 col-xs-12" ng-show="comment.invalidExtension">
                        <div class="col-md-2 col-xs-12"></div>
                        <div class="col-md-4 col-xs-12">
                            <p class="error">{{comment.errorMsgUpload}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-xs-12 col-md-offset-2" id="table" ng-if="comment.documents.length > 0">
                    <table datatable="ng" dt-options="comment.dtOptions" dt-columns="comment.dtColumns" class="table table-striped">
                        <thead>
                            <tr>
                                <th>{{'AddRequest_FileName' | translate }}</th>
                                <th>{{'AddRequest_FileType' | translate }}</th>
                                <th>{{'AddRequest_Size' | translate }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in comment.documents">
                                <td>{{ item.FileName }}</td>
                                <td>{{ item.Extension }}</td>
                                <td>{{ item.Size }}</td>
                                <td>
                                    <button type="submit" ng-click="comment.onDownload(item)" class="btn btn-success"><i class="fa fa-download" aria-hidden="true"></i> {{'Button_Download' | translate }}</button>
                                    <button type="button"
                                            class="btn btn-warning"
                                            data-toggle="modal" data-target=".confirmation-delete-file">
                                        <i class="fa fa-trash" aria-hidden="true"></i> {{'Button_Delete' | translate }}
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group col-md-12 col-xs-12">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-success" ng-click="comment.addComment()"><i class="fa fa-plus"></i> {{'Button_Add' | translate }}</button>
                </div>
            </div>
            <div ng-repeat="item in comment.requestComment | orderBy : '-CreatedDate'" class="col-md-12 col-xs-12">
                <div class="col-md-12 col-xs-12">
                    <a class="collapse-link" data-toggle="collapse" href="#{{item.Id}}">
                        <i class="fa fa-chevron-up"></i> {{item.UserName}} {{'Comment_Just' | translate}} <b>{{comment.getCommentType(item)}}</b> {{'Comment_At' | translate}} {{item.CreatedDate | date:timeFormat}} {{'Comment_Day' | translate}} {{item.CreatedDate | date:dateFormat}}
                    </a>
                </div>
                <div id="{{item.Id}}" class="collapse col-md-12 col-xs-12">
                    <div class="col-md-1 col-xs-1" style="width: 3%"></div>
                    <div class="col-md-11 col-xs-11" style="width: 97%">
                        <p ng-bind-html="item.Content"></p>
                    </div>
                    <div class="col-md-1 col-xs-1" style="width: 3%"></div>
                    <div class="col-md-11 col-xs-11" ng-show="item.Files.length > 0">
                        <p>{{item.Files.length}} {{ 'Comment_FileTitle' | translate }}</p>
                        <p ng-repeat="file in item.Files">
                            <a href="" style="text-decoration: underline" ng-click="comment.onDownload(file)">{{file.FileName}}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade confirmation-delete-file" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_DeleteFile' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="comment.delete()">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade confirmation-following-request" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p ng-show="comment.isFollowRequest">{{'Confirmation_FollowRequest' | translate}}</p>
                <p ng-show="!comment.isFollowRequest">{{'Confirmation_UnFollowRequest' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="comment.followRequest('Y')">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="comment.followRequest('N')">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>
