﻿<div id="wizard" class="form_wizard wizard_horizontal">
    <ul class="wizard_steps">
        <li>
            <a class="{{requestinfor.setColor(1)}}">
                <span class="step_no">1</span>
                <span class="step_descr">
                    <small>{{'Wizards_Step1' | translate | uppercase}}</small>
                </span>
            </a>
        </li>
        <li>
            <a class="{{requestinfor.setColor(2)}}">
                <span class="step_no">2</span>
                <span class="step_descr">
                    <small>{{'Wizards_Step2' | translate | uppercase}}</small>
                </span>
            </a>
        </li>
        <li ng-if="requestinfor.request.RequestStatusId === requestinfor.rejectedApproval">
            <a class="{{requestinfor.setColor(3)}}">
                <span class="step_no">3</span>
                <span class="step_descr">
                    <small>{{'Wizards_Step3' | translate | uppercase}}</small>
                </span>
            </a>
        </li>
        <li>
            <a class="{{requestinfor.setColor(4)}}">
                <span class="step_no">{{requestinfor.request.RequestStatusId === requestinfor.rejectedApproval ? 4 : 3}}</span>
                <span class="step_descr">
                    <small>{{'Wizards_Step4' | translate | uppercase}}</small>
                </span>
            </a>
        </li>
        <li ng-if="requestinfor.request.RequestStatusId === requestinfor.rejectedProcess && requestinfor.request.AssignId == null">
            <a class="{{requestinfor.setColor(4)}}">
                <span class="step_no">4</span>
                <span class="step_descr">
                    <small>{{'Wizards_Step8' | translate | uppercase}}</small>
                </span>
            </a>
        </li>
        <li>
            <a class="{{requestinfor.setColor(5)}}">
                <span class="step_no">{{(requestinfor.request.RequestStatusId === requestinfor.rejectedApproval || requestinfor.request.RequestStatusId === requestinfor.rejectedProcess && requestinfor.request.AssignId == null) ? 5 : 4}}</span>
                <span class="step_descr">
                    <small>{{'Wizards_Step5' | translate | uppercase}}</small>
                </span>
            </a>
        </li>
        <li>
            <a class="{{requestinfor.setColor(6)}}">
                <span class="step_no">{{(requestinfor.request.RequestStatusId === requestinfor.rejectedApproval || requestinfor.request.RequestStatusId === requestinfor.rejectedProcess && requestinfor.request.AssignId == null) ? 6 : 5}}</span>
                <span class="step_descr">
                    <small>{{'Wizards_Step6' | translate | uppercase}}</small>
                </span>
            </a>
        </li>
        <li ng-if="!(requestinfor.request.RequestStatusId === requestinfor.rejectedProcess && requestinfor.request.AssignId != null)">
            <a class="{{requestinfor.setColor(7)}}">
                <span class="step_no">{{(requestinfor.request.RequestStatusId === requestinfor.rejectedApproval || requestinfor.request.RequestStatusId === requestinfor.rejectedProcess && requestinfor.request.AssignId == null) ? 7:6}}</span>
                <span class="step_descr">
                    <small>{{'Wizards_Step7' | translate | uppercase}}</small>
                </span>
            </a>
        </li>
        <li ng-if="requestinfor.request.RequestStatusId === requestinfor.rejectedProcess && requestinfor.request.AssignId != null">
            <a class="{{requestinfor.setColor(8)}}">
                <span class="step_no">{{requestinfor.request.RequestStatusId === requestinfor.rejectedApproval ? 6 : (requestinfor.request.RequestStatusId === requestinfor.rejectedProcess ? 6 : 5)}}</span>
                <span class="step_descr">
                    <small>{{'Wizards_Step8' | translate | uppercase}}</small>
                </span>
            </a>
        </li>
        <li>
            <a class="{{requestinfor.setColor(9)}}">
                <span class="step_no">{{(requestinfor.request.RequestStatusId === requestinfor.rejectedApproval || requestinfor.request.RequestStatusId === requestinfor.rejectedProcess && requestinfor.request.AssignId == null) ? 8:7}}</span>
                <span class="step_descr">
                    <small>{{'Wizards_Step9' | translate | uppercase}}</small>
                </span>
            </a>
        </li>
    </ul>
    <br />
</div>
<div class="form-group col-md-12">
    <label class="control-label col-md-2 col-xs-12">
        {{'FollowRequest_RequestCode' | translate}}:
    </label>
    <label class="control-label col-md-4 col-xs-12">
        {{requestinfor.request.RequestNo}}
    </label>
    <label class="control-label col-md-2 col-xs-12">
        {{'FollowRequest_RequestType' | translate}}:
    </label>
    <div class="control-label col-md-4 col-xs-12">
        {{requestinfor.request.RequestTypeName}}
        <a href="" class="fa fa-question-circle form-control-left" data-toggle="modal" data-target=".service-description"></a>
    </div>
</div>
<div class="form-group col-md-12">
    <label class="control-label col-md-2 col-xs-12">
        {{'FollowRequest_RequestName' | translate}}:
    </label>
    <div class="control-label col-md-10 col-xs-12">
        {{requestinfor.request.RequestName}}
    </div>
</div>

<div class="x_panel">
    <div class="x_title">
        <div class="col-md-12 col-xs-12">
            <ul class="nav navbar-left panel_toolbox">
                <li>
                    <a class="collapse-link" ng-click="requestinfor.collapse()" data-toggle="collapse" href="#site1">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </li>
            </ul>
            <label class="tittle-section" data-toggle="collapse" href="#site1">{{'FollowRequest_Title1' | translate | uppercase}}</label>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="collapse in col-md-12 col-xs-12 col-sm-12" id="site1" ng-show="!requestinfor.loading">
        <div class="form-group col-md-12  col-xs-12">
            <label class="control-label col-md-2 col-xs-12">
                {{'FollowRequest_RequesterName' | translate}}:
            </label>
            <div class="control-label col-md-10 col-xs-12">
                <div ng-bind-html="requestinfor.request.RequesterName"></div>
            </div>
        </div>
        <div class="form-group col-md-12  col-xs-12">
            <label class="control-label col-md-2 col-xs-12">
                {{'FollowRequest_RequesterCompany' | translate}}:
            </label>
            <div class="control-label col-md-10 col-xs-12">
                <div ng-bind-html="requestinfor.request.CompanyCode"></div>
            </div>
        </div>
        <div class="form-group col-md-12  col-xs-12">
            <label class="control-label col-md-2 col-xs-12">
                {{'FollowRequest_RequesterDepartment' | translate}}:
            </label>
            <div class="control-label col-md-10 col-xs-12">
                <div ng-bind-html="requestinfor.requesterDepartment"></div>
            </div>
        </div>
        <div class="col-md-12  col-xs-12" ng-show="requestinfor.request.RelatedRequest.length > 0">
            <label class="control-label col-md-2 col-xs-12">
                {{'FollowRequest_RequestRefer' | translate}}:
            </label>
            <div class="control-label col-md-10 col-xs-12">
                <p>{{requestinfor.request.RelatedRequest[0]}}</p>
            </div>
        </div>
        <div class="form-group col-md-12  col-xs-12 col-sm-12" ng-show="requestinfor.request.RelatedRequest.length > 1">
            <div class="col-md-12  col-xs-12 col-sm-12" ng-repeat="item in requestinfor.request.RelatedRequest" ng-if="$index > 0">
                <div class="col-md-2  col-xs-12 col-sm-12"></div>
                <div class="control-label col-md-10 col-xs-12">
                    <p>{{item}}</p>
                </div>
            </div>
        </div>
        <div class="form-group col-md-12  col-xs-12">
            <label class="control-label col-md-2 col-xs-12">
                {{'FollowRequest_RequestContent' | translate}}:
            </label>
            <div class="control-label col-md-10 col-xs-12">
                <div ng-bind-html="requestinfor.request.Description" class="request-info"></div>
            </div>
        </div>
        <div class="form-group col-md-12  col-xs-12">
            <label class="control-label col-md-2 col-xs-12">
                {{'FollowRequest_CreatedDate' | translate}}:
            </label>
            <div class="control-label col-md-4 col-xs-12">
                {{requestinfor.request.CreatedDate| date: dateTimeFormat}}
            </div>
            <label class="control-label col-md-4 col-xs-12">
                {{'FollowRequest_TimeExpect' | translate}}:
            </label>
            <div class="control-label col-md-2 col-xs-12">
                {{requestinfor.request.ExpectedCompleteDate| date: dateTimeFormat}}
            </div>
        </div>
        <div class="form-group col-md-12 col-xs-12 col-sm-12" ng-if="requestinfor.documents.length > 0">
            <label class="control-label col-md-2 col-xs-12 col-sm-12">
                {{'FollowRequest_FileAttach' | translate}}:
            </label>
            <div class="col-md-10 col-xs-12 col-sm-12" id="table">
                <table datatable="ng" dt-options="requestinfor.dtOptions" dt-columns="requestinfor.dtColumns" class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{'AddRequest_FileName' | translate }}</th>
                            <th>{{'AddRequest_FileType' | translate }}</th>
                            <th>{{'AddRequest_Size' | translate }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in requestinfor.documents">
                            <td>{{ item.FileName }}</td>
                            <td>{{ item.Extension }}</td>
                            <td>{{ item.Size }}</td>
                            <td>
                                <button type="submit" ng-click="requestinfor.onDownload(item)" class="btn btn-success"><i class="fa fa-download" aria-hidden="true"></i> {{'Button_Download' | translate }}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<div class="modal fade service-description" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">{{'AddRequest_ProcessDescription' | translate | uppercase}}</h4>
            </div>
            <div class="modal-body">
                <p ng-bind-html="requestinfor.request.ServiceDescription"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Button_Back' | translate }}</button>
            </div>

        </div>
    </div>
</div>