﻿<form id="form" data-parsley-validate class="form-horizontal form-label-left" novalidate>
    <div class="row x_panel">
        <div class="x_title">
            <ul class="nav navbar-left panel_toolbox">
                <li>
                    <h3>{{vm.Title | translate | uppercase}}</h3>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-12" style="margin-top: 20px">
            <div style="background: #fff">
                <div class="col-md-12 col-xs-12">
                    <ul class="parsley-errors-list filled" id="parsley-id-10" ng-show="vm.isShowMsg">
                        <li class="parsley-required" id="errMsg">
                            <img src="content/image/ico/error.png" height="20" width="20" />
                            {{vm.errorMessage | translate }}
                        </li>
                    </ul>
                    <div class="form-group col-md-6 col-xs-12">
                        <label class="control-label col-md-4 col-xs-12">
                            {{'ManageRole_RoleName' | translate }}<span class="required">*</span>:
                        </label>
                        <div class="col-md-7 col-xs-12">
                            <input type="text" ng-model="vm.Role.Name" maxlength="255" required class="form-control">
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-xs-12">
                        <label class="control-label col-md-4 col-xs-12">
                            {{'ManageRole_RoleStatus_On' | translate }}:
                        </label>
                        <div class="col-md-8 col-xs-12">
                            <input type="checkbox" ng-model="vm.Role.IsActive"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12">
                    <div class="form-group col-md-5 col-xs-12">
                        <label class="control-label col-md-12 col-xs-12">
                            {{'ManageRole_NotAssignedPermission' | translate }}:
                        </label>
                    </div>
                    <div class="col-md-1 col-xs-12">
                    </div>
                    <div class="form-group col-md-5 col-xs-12">
                        <label class="control-label col-md-12 col-xs-12">
                            {{'ManageRole_AssignedPermission' | translate }}:
                        </label>
                    </div>
                </div>

                <div class="col-md-5 col-xs-12">
                    <div class="form-group col-md-12 col-xs-12">
                        <input type="checkbox" ng-model="vm.IsSellectAll" ng-click="vm.SellectAll(0)" />
                        <label ng-click="vm.SellectAll(1)">{{ 'ManageRole_SellectAll' | translate }}</label>
                    </div>
                    <div class="form-group col-md-12 col-xs-12" style="max-height: 250px; overflow: auto; border: 1px solid #E6E9ED;">
                        <div ng-repeat="p in vm.notSelectedPermissions | orderBy : 'Name'">
                            <input type="checkbox" ng-model="p.Selected"/>
                            <label ng-bind="p.Name" ng-click="p.Selected = !p.Selected"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-xs-12 gr-btn-addrole" style="overflow: auto; text-align: center !important">
                    <button type="submit" ng-click="vm.addSelected()" class="btn btn-success">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </button>
                    <button type="submit" ng-click="vm.removeSelected()" class="btn btn-success">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="col-md-5 col-xs-12">
                    <div class="form-group col-md-12 col-xs-12">
                        <input type="checkbox" ng-model="vm.IsUnSellectAll" ng-click="vm.UnSellectAll(0)" />
                        <label ng-click="vm.UnSellectAll(1)">{{ 'ManageRole_SellectAll' | translate }}</label>
                    </div>
                    <div class="form-group col-md-12 col-xs-12" style="height: 250px; overflow: auto; border: 1px solid #E6E9ED">
                        <div ng-repeat="p in vm.selectedPermissions | orderBy : 'Name'">
                            <input type="checkbox" ng-model="p.Selected" />
                            <label ng-bind="p.Name" ng-click="p.Selected = !p.Selected"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12 col-xs-12"></div>
                <div class="form-group col-md-12 col-xs-12">
                    <div class="col-md-12 text-center">
                        <button type="submit" ng-show="(vm.permission.Add && !vm.RoleId) || (vm.permission.Edit && vm.RoleId)"
                                ng-click="vm.Save()" class="btn btn-success">
                            <i class="fa fa-save"></i> 
                            {{'Button_Draft' | translate}}
                        </button>
                        <button type="submit" ng-click="vm.confirmBack()" style="width: 80px" class="btn btn-warning"><i class="fa fa-arrow-left"></i> {{'Button_Back' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade confirmation-back" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_Back' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.back()">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>