﻿<form data-parsley-validate class="form-horizontal form-label-left" novalidate ng-show="!vm.loading">
    <div class="row x_panel">
        <div class="x_title">
            <ul class="nav navbar-left panel_toolbox">
                <li>
                    <h3>{{'Menu_ManageRole' | translate | uppercase}}</h3>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-2 col-xs-12">
                        {{'SearchFrom_RoleNameLabel' | translate }}:
                    </label>
                    <div class="col-md-4 col-xs-12">
                        <input type="text" class="form-control" ng-model="vm.Role.Name" />
                    </div>
                    <label class="control-label col-md-2 col-xs-12">
                        {{'SearchFrom_RoleStatusLabel' | translate }}:
                    </label>
                    <div class="col-md-4 col-xs-12">
                        <select ng-model="vm.Role.IsActive" class="form-control">
                            <option value="-1">{{'SearchFrom_RoleStatus_All' | translate }}</option>
                            <option value="1">{{'SearchFrom_RoleStatus_On' | translate }}</option>
                            <option value="0">{{'SearchFrom_RoleStatus_Off' | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-8 col-xs-12">
                <div class="col-md-12 col-md-offset-3 text-center">
                    <button type="submit" ng-click="vm.searchRole('true')" class="btn btn-success"><i class="fa fa-search"></i> {{'CreateFrom_Find' | translate}}</button>
                    <button type="submit" ng-click="vm.addNew()" ng-show="vm.permissionAddRole.Add" class="btn btn-success"><i class="fa fa-plus"></i> {{'CreateFrom_AddNew' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row x_panel">
    <fieldset class="col-md-12 col-xs-12">
        <legend>{{'ManageAccount_RoleList' | translate |uppercase }}</legend>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group col-md-12 col-xs-12" id="table">
            <table datatable="ng" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="table table-striped">
                <thead>
                <tr>
                    <th>{{'SearchFrom_RoleNameLabel' | translate }}</th>
                    <th>{{'SearchFrom_RoleStatusLabel' | translate }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in vm.searchResult">
                    <td>{{ item.Name }}</td>
                    <td>{{ item.Status }}</td>
                    <td>
                        <!--<button type="submit" ng-click="vm.view(item)" class="btn btn-success">{{'CreateFrom_View' | translate}}</button>-->
                        <button type="button" ng-click="vm.edit(item)" ng-show="vm.permissionAddRole.Edit" class="btn btn-success"><i class="fa fa-pencil"></i> {{'CreateFrom_Edit' | translate}}</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
   </fieldset>
</div>

