﻿<form id="form" data-parsley-validate class="form-horizontal form-label-left" novalidate>
    <div class="row x_panel">
        <div class="x_title">
            <ul class="nav navbar-left panel_toolbox">
                <li>
                    <h3>{{vm.Title | translate | uppercase}}</h3>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-12" style="margin-top: 20px">
            <div style="background: #fff">
                <ul class="parsley-errors-list filled" id="parsley-id-10" ng-show="vm.isShowMsg">
                    <li class="parsley-required" id="errMsg">
                        <img src="content/image/ico/error.png" height="20" width="20"/>
                        {{vm.errorMessage | translate }}
                    </li>
                </ul>
                <p class="success-msg">{{vm.msg}}</p>
                <div class="col-md-12 col-xs-12">
                    <div class="form-group col-md-6 col-xs-12">
                        <label class="control-label col-md-4 col-xs-12">
                            {{'ManageAccount_UserName' | translate }}<span class="required">*</span>:
                        </label>
                        <div class="col-md-8 col-xs-12">
                            <input type="text" ng-model="vm.Account.UserName"  maxlength="50" required class="form-control">
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-xs-12">
                        <label class="control-label col-md-4 col-xs-12">
                            {{'ManageAccount_FullName' | translate }}<span class="required">*</span>:
                        </label>
                        <div class="col-md-8 col-xs-12">
                            <input type="text" ng-model="vm.Account.FullName"  maxlength="255" required class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12">
                    <div class="form-group col-md-6 col-xs-12">
                        <label class="control-label col-md-4 col-xs-12">
                            {{'ManageAccount_Password' | translate }}<span class="required">*</span>:
                        </label>
                        <div class="col-md-8 col-xs-12">
                            <input type="password" ng-model="vm.Account.Password" id="acc_pass"
                                   maxlength="255" class="form-control"
                                   ng-required="(vm.Account.UserId == null || vm.Account.UserId == '') && vm.Account.Password==''">
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-xs-12">
                        <label class="control-label col-md-4 col-xs-12">
                            {{'ManageAccount_ConfirmPassword' | translate }}<span class="required">*</span>:
                        </label>
                        <div class="col-md-8 col-xs-12">
                            <input type="password" ng-model="vm.Account.ConfirmPassword" id="acc_pass2" 
                                   maxlength="255" ng-required="(vm.Account.UserId == null || vm.Account.UserId == '') && vm.Account.Password==''"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12">
                    <div class="form-group col-md-6 col-xs-12">
                        <label class="control-label col-md-4 col-xs-12">
                            {{'ManageAccount_MobileNumber' | translate }}:
                        </label>
                        <div class="col-md-8 col-xs-12">
                            <input type="text" ng-model="vm.Account.Mobile"  maxlength="15" class="form-control">
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-xs-12">
                        <label class="control-label col-md-4 col-xs-12">
                            {{'ManageAccount_Email' | translate }}:
                        </label>
                        <div class="col-md-8 col-xs-12">
                            <input type="text" ng-model="vm.Account.Email"  maxlength="150" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12">
                    <div class="form-group col-md-6 col-xs-12">
                        <label class="control-label col-md-4 col-xs-12">
                            {{'ManageAccount_DefaultRole' | translate }}:
                        </label>
                        <div class="col-md-8 col-xs-12">
                            <select ng-model="vm.Account.DefaultAliasId" class="form-control"
                                    ng-options="p.Id as p.CompanyName for p in vm.Account.Aliases"></select>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-xs-12">
                        <label class="control-label col-md-4 col-xs-12">
                            {{'ManageAccount_AccountStatus_On' | translate }}:
                        </label>
                        <div class="col-md-8 col-xs-12">
                            <input type="checkbox" name="isActive" ng-model="vm.Account.IsActive"  class="flat"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12">
                    <div class="form-group col-md-12 col-xs-12">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageAccount_Roles' | translate }}:
                        </label>
                        <div class="col-md-9 col-xs-12" id="table">
                            <table datatable="ng" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>{{'ManageAccount_CompanyName' | translate }}</th>
                                    <th>{{'ManageAccount_Role' | translate }}</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in vm.Account.Aliases">
                                    <td>{{ item.CompanyName }}</td>
                                    <td>{{ item.RoleNames }}</td>
                                    <td>
                                        <button type="submit" ng-click="vm.editAlias(item.Id)"
                                                ng-show="vm.permissionAddRoleAccount.Edit"
                                                class="btn btn-success">
                                            <i class="fa fa-pencil"></i> 
                                            {{'CreateFrom_Edit' | translate}}
                                        </button>
                                        <button type="button"
                                                ng-click="vm.setDeleteAlias(item.Id)"
                                                data-toggle="modal" data-target=".confirmation-delete"
                                                ng-show="vm.permissionAddRoleAccount.Edit"
                                                class="btn btn-success">
                                            <i class="fa fa-trash"></i> 
                                            {{'Button_Delete' | translate}}
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="col-md-12 col-xs-12">
                                <button type="submit"
                                        ng-if="vm.permissionAddRoleAccount.Add && vm.Account.UserId !=null" 
                                        ng-click="vm.addNewRole()" class="btn btn-success"><i class="fa fa-plus"></i> {{'Button_Add' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12 col-xs-12">
                    <div class="col-md-8 col-md-offset-4 text-left">
                        <button type="submit" ng-if="(vm.permission.Add && !vm.AccountId) || (vm.permission.Edit && vm.AccountId)" 
                                ng-click="vm.Save()" class="btn btn-success"><i class="fa fa-save"></i> {{'Button_Draft' | translate}}</button>
                        <button type="submit" ng-click="vm.confirmBack()" 
                                style="width: 80px" class="btn btn-warning"><i class="fa fa-arrow-left"></i> {{'Button_Back' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade confirmation-back" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_Back' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.back()">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade confirmation-delete" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_DeleteAlias' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.deleteAlias()">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>