﻿<form id="form" data-parsley-validate class="form-horizontal form-label-left" novalidate>
    <div class="row x_panel">
        <div class="x_title">
            <ul class="nav navbar-left panel_toolbox">
                <li>
                    <h3>{{vm.Title | translate | uppercase}}</h3>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-12" style="margin-top: 20px">
            <div style="background: #fff">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group col-md-8 col-xs-12">
                        <label class="control-label col-md-4 col-xs-12">
                            {{'ManageAccount_CompanyName' | translate }}<span class="required">*</span>:
                        </label>
                        <div class="col-md-8 col-xs-12">
                            <select ng-model="vm.Alias.CompanyId" required class="form-control"
                                    ng-options="c.Id as c.Name for c in vm.Companies">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12">
                    <div class="form-group col-md-8 col-xs-12">
                        <label class="control-label col-md-4 col-xs-12">
                            {{'ManageAccount_Role' | translate }}<span class="required">*</span>:
                        </label>
                        <div class="col-md-8 col-xs-12">
                            <select ng-model="vm.selectedRoles" multiple="multiple" required class="form-control select2_multiple"
                                    ng-options="r.Id as r.Name for r in vm.Roles">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12">
                    <div class="form-group col-md-8 col-xs-12">
                        <label class="control-label col-md-4 col-xs-12">
                            {{'ManageAccount_Function' | translate }}:
                        </label>
                        <div class="col-md-8 col-xs-12">
                            <select ng-model="vm.selectedPermissions" multiple="multiple" class="form-control select2_multiple"
                                    ng-options="f.FunctionActionId as f.Name for f in vm.Permissions"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4 col-xs-12">
                    <div class="col-md-12 col-md-offset-6 text-left">
                        <button type="submit" ng-if="vm.isEdit && ((vm.permission.Add && !vm.AliasId) || (vm.permission.Edit && vm.AliasId))" ng-click="vm.Save()" class="btn btn-success">{{'Button_Draft' | translate}}</button>
                        <button type="submit" ng-click="vm.confirmBack()" style="width: 80px" class="btn btn-warning">{{'Button_Back' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade confirmation-back" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_Back' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.back()">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>