﻿<div ng-show="!vm.loading">
    <form data-parsley-validate class="form-horizontal form-label-left" novalidate>
        <div class="row x_panel">
            <div class="x_title">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <h3>{{'Menu_ManageAccount' | translate | uppercase}}</h3>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'SearchFrom_AccountUserNameLabel' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <input type="text" class="form-control" ng-model="vm.Account.UserName" />
                        </div>
                        <label class="control-label col-md-2 col-xs-12">
                            {{'SearchFrom_AccountStatusLabel' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <select ng-model="vm.status" class="form-control">
                                <option value="-1">{{'SearchFrom_AccountStatus_All' | translate }}</option>
                                <option value="1">{{'SearchFrom_AccountStatus_On' | translate }}</option>
                                <option value="0">{{'SearchFrom_AccountStatus_Off' | translate }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'SearchFrom_AccountFullNameLabel' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <input type="text" class="form-control" ng-model="vm.Account.FullName" />
                        </div>
                        <label class="control-label col-md-2 col-xs-12">
                        </label>
                        <div class="col-md-4 col-xs-12">

                        </div>
                    </div>
                </div>
                <div class="form-group col-md-8 col-xs-12">
                    <div class="col-md-12 col-md-offset-3 text-center">
                        <button type="submit" ng-click="vm.searchAccount('true')" class="btn btn-success"><i class="fa fa-search"></i> {{'CreateFrom_Find' | translate}}</button>
                        <button type="submit" ng-click="vm.addNew()" ng-show="vm.permissionAddAccount.Add" class="btn btn-success"><i class="fa fa-plus"></i> {{'CreateFrom_AddNew' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row x_panel">
        <fieldset class="col-md-12 col-xs-12">
            <legend>{{'ManageAccount_AccountList' | translate |uppercase }}</legend>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group col-md-12 col-xs-12" id="table">
                    <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstance" class="table table-striped"></table>
                </div>
            </div>
        </fieldset>
    </div>
</div>
