﻿<div class="row x_panel">
    <div class="page-header">
        <h4 class="error">{{'400_Error' | translate}}</h4>
    </div>
    <div class="content">
        <label>{{'400_Msg' | translate}}</label>
    </div>
</div>