﻿<div class="row x_panel" ng-show="!vm.loading">
    <div class="x_title">
        <ul class="nav navbar-left panel_toolbox">
            <li>
                <p>
                    <h3>{{vm.tittle | uppercase}}</h3>
                </p>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form id="form" data-parsley-validate class="form-horizontal form-label-left" novalidate>
            <div class="form-group col-md-12 col-sm-12 col-xs-12" ng-show="vm.isError">
                <label class="error">{{vm.message}}</label>
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="form-group col-md-6 col-xs-12">
                    <label class="control-label col-md-4 col-xs-12">
                        {{'CreateFrom_StyleRequestLabel' | translate }}<span class="required">*</span>:
                    </label>
                    <div class="col-md-8 col-xs-12" id="DDL">
                        <select ng-model="vm.request.RequestTypeId" class="form-control select2_single" ng-change="vm.onRequestTypeChange()" required
                                ng-options="requestType.Id as requestType.Name for requestType in vm.requestTypes"></select>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label class="control-label col-md-4 col-xs-12">
                        {{'CreateFrom_SupplyCompany' | translate }}<span class="required">*</span>:
                    </label>
                    <div class="col-md-8 col-xs-12">
                        <select ng-model="vm.request.CompanyIds" multiple="multiple" required
                                class="select2_multiple form-control" id="company"
                                ng-change="vm.onCompanyChange()"
                                ng-options="company.Id as company.Name for company in vm.companies"></select>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="form-group col-md-6 col-xs-12">
                    <label class="control-label col-md-4 col-xs-12">
                        {{'CreateFrom_DepartmentLabel' | translate }}<span class="required">*</span>:
                    </label>
                    <div class="col-md-8 col-xs-12">
                        <select ng-model="vm.request.DepartmentIds" multiple="multiple" required
                                class="select2_multiple form-control" id="department"
                                ng-change="vm.onDepartmentChange()">
                            <option ng-repeat="department in vm.departments"
                                    value="{{department.DepartmentId}}">
                                {{department.DepartmentName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label class="control-label col-md-4 col-xs-12">
                        {{'CreateFrom_GroupLabel' | translate }}<span class="required">*</span>:
                    </label>
                    <div class="col-md-8 col-xs-12">
                        <select ng-model="vm.request.GroupIds" multiple="multiple" required
                                class="select2_multiple form-control" id="group"
                                ng-change="vm.onGroupChange()">
                            <option ng-repeat="group in vm.groups"
                                    value="{{group.GroupId}}">
                                {{group.GroupName}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="control-label col-md-2 col-xs-12 col-sm-12">
                    {{'CreateFrom_TBPApprovel' | translate }}:
                </label>
                <div class="col-md-4 col-xs-6 col-sm-6">
                    <div class="col-md-4 col-xs-12">
                        <label class="radio-inline">
                            <input type="radio" name="approvedByManager" data-ng-model="vm.request.IsApprovedByManager" data-ng-value="true">
                            {{'CreateFrom_Yes' | translate}}
                        </label>
                    </div>
                    <div class="col-md-4 col-xs-6 col-sm-6">
                        <label class="radio-inline">
                            <input type="radio" name="approvedByManager" data-ng-model="vm.request.IsApprovedByManager" data-ng-value="false">
                            {{'CreateFrom_No' | translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="control-label col-md-2 col-xs-12">
                    {{'Menu_ApprovalLevel' | translate }}<span>2</span>
                </label>
                <div class="col-md-4 col-xs-12">
                    <select ng-model="vm.request.ApprovalLevel2" ng-change="vm.onApprovalLevel2Change()"
                            multiple="multiple" class="select2_multiple form-control">
                        <option ng-repeat="department in vm.departments"
                                value="{{department.DepartmentId}}">
                            {{department.DepartmentName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="control-label col-md-2 col-xs-12">
                    {{'Menu_ApprovalLevel' | translate }}<span>3</span>
                </label>
                <div class="col-md-4 col-xs-12">
                    <select ng-model="vm.request.ApprovalLevel3" ng-change="vm.onApprovalLevel3Change()"
                            ng-disabled="vm.request.ApprovalLevel2.length === 0 || vm.request.ApprovalLevel1.length === 0"
                            multiple="multiple" class="select2_multiple form-control">
                        <option ng-repeat="department in vm.departments"
                                value="{{department.DepartmentId}}">
                            {{department.DepartmentName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="control-label col-md-2 col-xs-12">
                    {{'Menu_ApprovalLevel' | translate }}<span>4</span>
                </label>
                <div class="col-md-4 col-xs-12">
                    <select ng-model="vm.request.ApprovalLevel4" ng-change="vm.onApprovalLevel4Change()"
                            ng-disabled="vm.request.ApprovalLevel3.length === 0 || vm.request.ApprovalLevel1.length === 0 || vm.request.ApprovalLevel2.length === 0"
                            multiple="multiple" class="select2_multiple form-control">
                        <option ng-repeat="department in vm.departments"
                                value="{{department.DepartmentId}}">
                            {{department.DepartmentName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="control-label col-md-2 col-xs-12">
                    {{'Menu_ApprovalLevel' | translate }}<span>5</span>
                </label>
                <div class="col-md-4 col-xs-12">
                    <select ng-model="vm.request.ApprovalLevel5"
                            ng-disabled="vm.request.ApprovalLevel4.length === 0 || vm.request.ApprovalLevel3.length === 0 || vm.request.ApprovalLevel2.length === 0"
                            multiple="multiple" class="select2_multiple form-control">
                        <option ng-repeat="department in vm.departments"
                                value="{{department.DepartmentId}}">
                            {{department.DepartmentName}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="control-label col-md-2 col-xs-12">
                    {{'CreateFrom_ProcessDiscription' | translate }}
                </label>
                <div class="col-md-10 col-xs-12">                                        
                    <div id="tiny">
                        <textarea  ui-tinymce="tinymceOptionsSetup" class="form-control col-md-12 col-xs-12" rows="10" ng-model="vm.request.Description"></textarea>
                    </div>
                </div>
            </div>
            
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="control-label col-md-2 col-xs-12">
                    {{'CreateFrom_RequestTemplate' | translate }}
                </label>
                <div class="col-md-10 col-xs-12">                                       
                    <div id="tiny">
                        <textarea  ui-tinymce="tinymceOptionsSetup" class="form-control col-md-12 col-xs-12" rows="10" ng-model="vm.request.RequestTemplate"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="control-label col-md-2 col-xs-12">
                    {{'CreateFrom_SurveyTemplate' | translate }}
                </label>
                <div class="col-md-10 col-xs-12">                   
                    <div id="tiny">
                        <textarea  ui-tinymce="tinymceOptionsSetup" class="form-control col-md-12 col-xs-12" rows="10" ng-model="vm.request.SurveyTemplate"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="form-group col-md-6 col-xs-12">
                    <label class="control-label col-md-4 col-xs-12">
                        {{'CreateFrom_TAT' | translate }}
                    </label>
                    <div class="col-md-4 col-xs-12 col-sm-12">
                        <input type="number" step="0.01" ng-model="vm.request.TAT" class="form-control">
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12 col-sm-12">
                    <label class="control-label col-md-4 col-xs-4 col-sm-4">
                        {{'CreateFrom_Effected' | translate }}
                    </label>
                    <div class="col-md-8 col-xs-8 col-sm-8 checkbox-inline">
                        <input type="checkbox" name="checkbox" ng-model="vm.request.IsActive" />
                    </div>
                </div>
            </div>

            <div class="form-group col-md-12 col-xs-12 text-center">
                <button type="submit" data-toggle="modal"
                        data-target=".confirmation-save-service"
                        class="btn btn-success"
                        ng-show="(vm.permission.Add && !vm.serviceId) || (vm.permission.Edit && vm.serviceId)">
                    <i class="fa fa-save"></i>
                    {{'Button_Draft' | translate}}
                </button>
                <button type="submit" ng-click="vm.backRequestPage()" class="btn btn-warning"><i class="fa fa-arrow-left"></i> {{'Button_Back' | translate}}</button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade confirmation-save-service" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_SaveService' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.save()">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade confirmation-back" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_Back' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.back()">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>




