﻿<div ng-show="!vm.loading">
    <form data-parsley-validate class="form-horizontal form-label-left" novalidate>
        <div class="row x_panel">
            <div class="x_title">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <h3>{{'Menu_ManageService' | translate | uppercase}}</h3>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label col-md-2 col-xs-12 col-sm-12">
                        {{'CreateFrom_StyleRequestLabel' | translate }}:
                    </label>
                    <div class="col-md-4 col-xs-12 col-sm-12">
                        <select ng-model="vm.searchCriteria.RequestTypeId" class="form-control select2_single"
                                ng-options="type.Id as type.Name for type in vm.requestTypes">
                        </select>
                    </div>
                    <label class="control-label col-md-2 col-xs-12 col-sm-12">
                        {{'CreateFrom_RequestTypeStatus' | translate }}:
                    </label>
                    <div class="col-md-4 col-xs-12 col-sm-12">
                        <select ng-model="vm.searchCriteria.IsActive" class="form-control"
                                ng-options="status.Id as status.Name for status in vm.status">
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label col-md-2 col-xs-12">
                        {{'CreateFrom_SupplyCompany' | translate }}:
                    </label>
                    <div class="col-md-4 col-xs-12">
                        <select ng-model="vm.searchCriteria.CompanyId" class="form-control" ng-change="vm.onCompanyChange()"
                                ng-options="company.Id as company.Name for company in vm.companies"></select>
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label col-md-2 col-xs-12 col-sm-12">
                        {{'CreateFrom_DepartmentLabel' | translate }}:
                    </label>
                    <div class="col-md-4 col-xs-12 col-sm-12">
                        <select ng-model="vm.searchCriteria.DepartmentId" class="form-control" ng-change="vm.onDepartmentChange()"
                                ng-options="department.DepartmentId as department.DepartmentName for department in vm.departments"></select>
                    </div>
                    <label class="control-label col-md-2 col-xs-12 col-sm-12">
                        {{'CreateFrom_GroupLabel' | translate }}:
                    </label>
                    <div class="col-md-4 col-xs-12 col-sm-12">
                        <select ng-model="vm.searchCriteria.GroupId" class="form-control"
                                ng-options="group.GroupId as group.GroupName for group in vm.groups"></select>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12 col-sm-12 text-center">
                    <button type="submit" ng-click="vm.search('true')" class="btn btn-success"><i class="fa fa-search"></i> {{'CreateFrom_Find' | translate}}</button>
                    <button type="submit" ng-click="vm.addNew()" ng-show="vm.permissionAddService.Add" class="btn btn-success"><i class="fa fa-plus"></i> {{'CreateFrom_AddNew' | translate}}</button>
                </div>
            </div>
        </div>
    </form>
    <div class="row x_panel">
        <fieldset class="col-md-12 col-xs-12">
            <legend>{{'AddService_ServiceList' | translate |uppercase }}</legend>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group col-md-12 col-xs-12" id="table">
                <table datatable="ng" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>{{'CreateFrom_SupplyCompany' | translate }}</th>
                        <th>{{'CreateFrom_DepartmentLabel' | translate }}</th>
                        <th>{{'CreateFrom_GroupLabel' | translate }}</th>
                        <th>{{'CreateFrom_StyleRequestLabel' | translate }}</th>
                        <th>{{'CreateFrom_Status' | translate }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in vm.searchResult">
                        <td>{{ item.CompanyName }}</td>
                        <td>{{ item.DepartmentName }}</td>
                        <td>{{ item.GroupName }}</td>
                        <td>{{ item.RequestTypeName }}</td>
                        <td>{{ item.Status }}</td>
                        <td>
                            <button type="button" ng-click="vm.edit(item.ServiceId)" ng-show="vm.permissionAddService.Edit" class="btn btn-success"><i class="fa fa-pencil"></i> {{'CreateFrom_Edit' | translate}}</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </fieldset>
</div>
</div>
  
