﻿<form id="form" data-parsley-validate class="form-horizontal form-label-left" novalidate ng-show="!vm.loading">

    <div class="col-md-12" style="margin-top: 20px">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <p>
                            <h3 class="text-uppercase">{{vm.title}}</h3>
                        </p>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-12">
                    <div class="form-group">
                        <div>
                            <label class="control-label col-md-2 col-xs-12">
                                {{'ManageParty_CompanyName' | translate }}<span class="required">*</span>:
                            </label>
                            <div class="col-md-4 col-xs-12">
                                <input type="text" ng-model="vm.company.PartyName" required class="form-control">
                            </div>
                            <label class="control-label col-md-2 col-xs-12">
                                {{'ManageParty_CompanyCode' | translate }}<span class="required">*</span>:
                            </label>
                            <div class="col-md-4 col-xs-12">
                                <input type="text" ng-model="vm.company.PartyCode" required class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                            </div>
                            <label class="control-label col-md-2 col-xs-12">
                                {{'Manage_Using' | translate }}
                            </label>
                            <div class="col-md-4 col-xs-12">
                                <input type="checkbox" ng-model="vm.company.IsActive"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4 col-xs-12">
                    <div class="col-md-12 col-md-offset-6 text-left">
                        <button type="submit" ng-show="(vm.permission.Add && !vm.partyId) || (vm.permission.Edit && vm.partyId)" ng-click="vm.Save()" class="btn btn-success"><i class="fa fa-save"></i> {{'Button_Draft' | translate}}</button>
                        <button type="submit" ng-click="vm.backRequestPage()" class="btn btn-warning"><i class="fa fa-arrow-left"></i> {{'Button_Back' | translate}}</button>
                    </div>
                </div>


            </div>
        </div>
    </div>
</form>
<div class="modal fade confirmation-back" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_Back' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.back()">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>
