﻿<form data-parsley-validate class="form-horizontal form-label-left" novalidate ng-show="!vm.loading">
    <div class="row x_panel">
        <div class="x_title">
            <ul class="nav navbar-left panel_toolbox">
                <li>
                    <h3>{{'Menu_ManageCompany' | translate | uppercase}}</h3>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        
        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-2 col-xs-12">
                        {{'ManageParty_CompanyName' | translate }}:
                    </label>
                    <div class="col-md-4 col-xs-12">
                        <input type="text" ng-model="vm.selectedPartyName" required class="form-control">
                    </div>
                    <label class="control-label col-md-2 col-xs-12">
                        {{'CreateFrom_Status' | translate }}:
                    </label>
                    <div class="col-md-4 col-xs-12">
                        <select ng-model="vm.selectedStatus" required class="form-control">
                            <option value="-1">{{'SearchFrom_RoleStatus_All' | translate }}</option>
                            <option value="1">{{'Manage_Using' | translate }}</option>
                            <option value="0">{{'Manage_NotUsing' | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-2 col-xs-12">
                        {{'ManageParty_CompanyCode' | translate }}:
                    </label>
                    <div class="col-md-4 col-xs-12">
                        <input type="text" ng-model="vm.selectedPartyCode" required class="form-control">
                    </div>
                  
                </div>
            </div>
            <div class="form-group col-md-8 col-xs-12">
                <div class="col-md-12 col-md-offset-3 text-center">
                    <button type="submit" ng-click="vm.searchManageParty('true')" class="btn btn-success"><i class="fa fa-search"></i> {{'CreateFrom_Find' | translate}}</button>
                    <button type="submit" ng-show="vm.permissionAddCompany.Add" ng-click="vm.addNew()" class="btn btn-success"><i class="fa fa-plus"></i> {{'CreateFrom_AddNew' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row x_panel">
    <fieldset class="col-md-12 col-xs-12">
        <legend>{{'ManageParty_CompanyList' | translate |uppercase }}</legend>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group col-md-12 col-xs-12" id="table">
            <table datatable="ng" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="table table-striped">
                <thead>
                <tr>
                    <th>{{'ManageParty_CompanyName' | translate }}</th>
                    <th>{{'ManageParty_CompanyCode' | translate }}</th>
                    <th>{{'CreateFrom_Status' | translate }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in vm.searchResult">
                    <td>{{ item.PartyName }}</td>
                    <td>{{ item.PartyCode }}</td>
                    <td>{{ item.IsActive }}</td>
                    <td>
                        <button type="button" ng-show="vm.permissionAddCompany.Edit" ng-click="vm.edit(item)" class="btn btn-success"><i class="fa fa-pencil"></i> {{'CreateFrom_Edit' | translate}}</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </fieldset>
</div>