﻿<form id="form" data-parsley-validate class="form-horizontal form-label-left" novalidate>
    <div class="row x_panel">
        <div class="x_title">
            <ul class="nav navbar-left panel_toolbox">
                <li>
                    <h3>{{'Menu_SystemConfiguration' | translate | uppercase}}</h3>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-12 col-xs-12" ng-if="vm.isShowSuccessMsg">
                <p class="success-msg">{{'SystemConfiguration_SaveSuccessful' | translate }}</p>
            </div>
            <ul class="parsley-errors-list filled" id="parsley-id-10" ng-show="vm.isShowErrorMsg">
                <li class="parsley-required" id="errMsg"><img src="content/image/ico/error.png" height="20" width="20" /><p ng-bind-html="vm.errorMessage"></p></li>
            </ul>
            <div class="form-group col-md-12">
                <label class="control-label col-md-2 col-xs-12">
                    {{'SystemConfiguration_TimeFormat' | translate }}<span class="required">*</span>:
                </label>
                <div class="col-md-4 col-xs-12" ng-repeat="param in vm.SystemParameters | filter:{Key:'DATETIME_FORMAT'}">
                    <input type="text" class="form-control" required ng-model="param.Value" ng-change="vm.TakeSampleDateTime(param.Value)" id="datetimeFormat" />
                </div>
                <label class="control-label col-md-2 col-xs-12">
                    {{'SystemConfiguration_DayFormat' | translate }}:
                </label>
                <div class="col-md-4 col-xs-12" ng-repeat="param in vm.SystemParameters | filter:{Key:'24H_FORMAT'}">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="param.BoolValue" />
                    </label>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-md-2 col-xs-12">
                </label>
                <div class="col-md-4 col-xs-12">
                    <p class="{{vm.invalidDateTime ? 'error' : ''}}">{{vm.SampleTimeFormat}}</p>
                </div>
                <label class="control-label col-md-2 col-xs-12">
                </label>
                <div class="col-md-4 col-xs-12">
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-md-2 col-xs-12">
                    {{'SystemConfiguration_ReviewDeadline' | translate }}<span class="required">*</span>:
                </label>
                <div class="col-md-4 col-xs-12" ng-repeat="param in vm.SystemParameters | filter:{Key:'REVIEW_DEADLINE'}">
                    <input type="number" class="form-control" required ng-model="param.IntValue" />
                </div>
                <label class="control-label col-md-2 col-xs-12">
                    {{'SystemConfiguration_PasswordSalt' | translate }}<span class="required">*</span>:
                </label>
                <div class="col-md-4 col-xs-12" ng-repeat="param in vm.SystemParameters | filter:{Key:'PASSWORD_SALT'}">
                    <input type="text" class="form-control" required ng-model="param.Value" maxlength="50" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-md-2 col-xs-12">
                    {{'SystemConfiguration_DecimalPlace' | translate }}<span class="required">*</span>:
                </label>
                <div class="col-md-1 col-xs-12" ng-repeat="param in vm.SystemParameters | filter:{Key:'DECIMAL_PLACE'}">
                    <input type="number" class="form-control" required min="0" max="9" ng-model="param.IntValue" />
                </div>
                <label class="control-label col-md-2 col-xs-12">
                </label>
                <div class="col-md-4 col-xs-12">
                </div>
            </div>
            <div class="form-group col-md-8 col-xs-12">
                <div class="col-md-12 col-md-offset-3 text-center">
                    <button type="submit" ng-click="vm.Save()" class="btn btn-success"><i class="fa fa-save"></i> {{'Button_Draft' | translate}}</button>
                    <button type="submit" ng-click="vm.confirmBack()" style="width: 80px" class="btn btn-warning"><i class="fa fa-arrow-left"></i> {{'Button_Back' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade confirmation-back" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_Back' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.back()">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>