﻿.login_form,.registration_form{position:relative!important}.form-horizontal .control-label{text-align:left!important;margin-bottom:10px!important}.form-control-right{position:absolute;right:3%;top:1px;z-index:2;display:block;width:35px;height:35px;line-height:34px;text-align:center}