﻿.request-info table tr td {
    border: solid 1px #333;
    padding: 4px;
}

.working-time {
    width: 125%;
}

body {
    position: relative;
}

.child select {
    width: 120px !important;
}


.right_col {
    min-height: 1120px !important;
}

#login-form {
    text-align: center;
    margin-top: 150px;
    margin-left: -216px;
}

.nav-md .container.body .right_col_login {
    padding: 10px 20px 0;
    margin-left: 216px;
    min-height: 800px;
}

.profile {
    height: 65px;
}

.scroll-view {
    width: 100%;
}

.user-bar {
    cursor: pointer;
}

.main_container {
    background: #f37022;
}

h1,
h2,
h3,
h4 {
    color: #F37022;
}

.error,
.required {
    color: #E74C3C;
}

.error {
    font-weight: 400;
}

.input-error {
    background: #FAEDEC !important;
    border: 1px solid #E85445 !important;
}

.success-msg {
    color: #49B842;
}

.invalidDate {
    margin: -35px 0 20px;
}

.text-bold {
    font-weight: 700;
}

.select2-container-90 {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    width: 90% !important;
}

#edit-working-time .pull-left,
#edit-working-time .pull-right,
#searchgr span span span span {
    display: none;
}

.afternoon button,
.all-day button,
.morning button {
    font-weight: bolder;
    font-size: 15px;
}

td {
    vertical-align: central;
}

.wizard_steps li {
    width: 100px !important;
}

.tittle-section {
    padding: 5px;
    cursor: pointer;
}

.dataTables_scrollBody {
    margin-top: -22px;
}

.modal-lg-confirmation {
    width: 300px !important;
}

#searchgr span,
#sub-table table,
#table table,
#table2 table,
.panel-description {
    width: 100%;
}

table[role=grid] button {
    border: 1px solid #ccc;
}

.pannel-title-1,
.pannel-title-2,
.pannel-title-3,
.pannel-title-4 {
    border-radius: 10px 10px 0 0;
    table-layout: fixed;
    width: 100%;
}

.all-day button {
    background-color: red !important;
}

.morning button {
    background-color: #F37022 !important;
}

.afternoon button {
    background-color: #49B842 !important;
}

.afternoon span,
.all-day span,
.morning span {
    color: #fff;
}

#edit-working-time .btn,
#edit-working-time button {
    margin-bottom: 0 !important;
}

#manage-working-time .btn-info.active {
    color: #333;
    background-color: #fff;
    border-color: #adadad;
}

#manage-working-time .btn {
    margin-bottom: 0;
}

footer {
    bottom: 0;
}

.footer-border,
.footer-login {
    border-top: 1px solid #E6E9ED;
}

.pannel-title-1 {
    background: #5dc5ce;
}

.pannel-title-2 {
    background: #6eb76f;
}

.pannel-title-3 {
    background: #e3925c;
}

.pannel-title-4 {
    background: #e3a950;
}

.panel-title-text {
    color: #fff;
    font-size: 20px;
}

.panel-description {
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 10px;
}

.panel-description-text {
    font-size: 12px;
    margin-left: 10px;
    font-style: italic;
    color: #fff;
}

.service-column {
    height: calc(100%);
    border: 1px solid #ccc;
    border-radius: 10px 10px 0 0;
}

ul.parsley-errors-list-note {
    list-style: none;
    color: #E74C3C;
    padding-left: 0;
}

.login-input {
    border-radius: 7px !important;
    margin: 3px 3px 3px -3px !important;
}

.login-lable {
    border-radius: 7px;
    font-weight: 700;
    color: #fff;
    background-color: #49B842;
    border: none !important;
}

.login-group-input {
    background: #49B842;
    border-radius: 7px;
}

.panel-header-login {
    background: #f4f4f4 !important;
    border-radius: 5px !important;
    border-color: #ccc !important;
    border-bottom: 0 transparent !important;
    padding: 6px 15px !important;
}

.panel-footer-login {
    background: #F37022 !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    padding: 6px 15px !important;
    border-top: 0 transparent !important;
}

.panel-login {
    border-color: #ccc;
    border-radius: 5px !important;
}

.panel-login-body {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
}

th {
    white-space: nowrap;
}

#table table,
#table2 table,
#sub-table tabl {
    width: 100%;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}

    .row.is-flex > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }


/* * And with max cross-browser enabled. * Nobody should ever write this by hand. * Use a preprocesser with autoprefixing. */

.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

    .row.is-flex > [class*='col-'] {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

.step_descr small {
    font-weight: bold;
}

@media (min-width: 1170px) {
    .gr-btn-addrole {
        margin-top: 125px;
    }
}

@media (min-width: 750px) {
    .top_search {
        margin-top: -45px;
    }
}

@media (max-width:750px) {
    .top_search {
        margin-top: 0px;
    }

    .disabled {
        background-color: #e2e2e2;
    }

    .fa-angle-double-right:before {
        content: "\f103";
    }

    .fa-angle-double-left:before {
        content: "\f102";
    }
}
