﻿<div id="login-form">
    <div class="login_wrapper">
        <div class="panel panel-info panel-login">
            <div class="panel-heading panel-header-login">
            </div>
            <div style="padding-top:30px" class="panel-body panel-login-body">

                <form id="form" data-parsley-validate class="form-horizontal form-label-left" novalidate>
                    <div style="margin-bottom: 30px;" class="col-md-12 col-xs-12 text-center">
                        <h3 style="font-weight: bold">{{ 'Login_Tittle' | translate }}</h3>
                    </div>
                    <div class="col-md-10 col-md-offset-1 col-xs-12">
                        <div style="margin-bottom: 15px;" class="login-group-input input-group">
                            <label class="input-group-addon login-lable">{{ 'Login_UserName' | translate }}</label>
                            <input id="user" type="text" class="login-input form-control" name="user" ng-model="vm.user.LoginId" placeholder="{{ 'UserHolder' | translate }}">
                        </div>

                        <div style="margin-bottom: 15px" class="login-group-input input-group">
                            <label class="input-group-addon login-lable">{{ 'Login_Password' | translate }}</label>
                            <input id="password" type="password" class="login-input form-control" ng-model="vm.user.Password" name="password" placeholder="{{'PassHolder' | translate }}">
                        </div>
                    </div>
                    <div ng-show="vm.isShowMsg" class="text-center">
                        <label class="col-md-12 error col-xs-12">{{vm.errorMsg}}</label>
                    </div>
                    <br />
                    <div style="margin-top:20px" class="col-md-12 col-xs-12 form-group">
                        <div class="col-sm-12 col-md-12 col-xs-12 controls text-center" style=" margin-bottom: 20px;">
                            <button type="submit" class="btn btn-warning" ng-click="vm.login()">{{'Login_Form' | translate}}</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 col-xs-12 center control text-center">
                            {{ 'Footer_Text' | translate }}
                        </div>
                    </div>
                </form>

            </div>
            <div class="panel-footer panel-footer-login">
            </div>
        </div>
    </div>
</div>