﻿<form id="form" data-parsley-validate class="form-horizontal form-label-left" novalidate ng-show="!vm.loading">

    <div class="col-md-12" style="margin-top: 20px">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <p>
                            <h3 class="text-uppercase">{{vm.title}}</h3>
                        </p>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageParty_DepartmentName' | translate }}<span class="required">*</span>:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <input type="text" ng-model="vm.department.PartyName" required class="form-control">
                        </div>
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageParty_DepartmentCode' | translate }}<span class="required">*</span>:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <input type="text" ng-model="vm.department.PartyCode" required class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageParty_Company' | translate }}<span class="required">*</span>:
                        </label>
                        <div class="col-md-4 col-xs-12" id="DDL">
                            <select id="company" ng-change="vm.changeCompany()" ng-model="vm.department.CompanyId" required class="form-control"
                                    ng-options="company.Id as company.Name for company in vm.Companies">
                            </select>
                        </div>
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageParty_DepartmentLeaders' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <select id="users-ddl" ng-model="vm.department.SelectedManagements" 
                                    multiple="multiple" class="select2_multiple form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageParty_GroupReporters' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <select id="users-ddl-2" ng-model="vm.department.SelectedReporters" 
                                    multiple="multiple" class="select2_multiple form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageParty_IsDirectorDep' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <input type="checkbox" ng-model="vm.department.IsBOD"/>
                        </div>
                        <label class="control-label col-md-2 col-xs-12">
                            {{'Manage_Using' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <input type="checkbox" ng-model="vm.department.IsActive"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4 col-xs-12">
                <div class="col-md-12 col-md-offset-6 text-left">
                    <button type="submit" ng-show="(vm.permission.Add && !vm.partyId) || (vm.permission.Edit && vm.partyId)" ng-click="vm.Save()" class="btn btn-success"><i class="fa fa-save"></i> {{'Button_Draft' | translate}}</button>
                    <button type="submit" ng-click="vm.backRequestPage()" style="width: 80px" class="btn btn-warning"><i class="fa fa-arrow-left"></i> {{'Button_Back' | translate}}</button>
                </div>
            </div>
        </div>
    </div>

</form>
<div class="modal fade confirmation-back" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-confirmation">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{'Confirmation_Back' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.back()">{{'Confirmation_Yes' | translate}}</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{'Confirmation_No' | translate}}</button>
            </div>
        </div>
    </div>
</div>
