﻿<div ng-show="!vm.loading">
    <form data-parsley-validate class="form-horizontal form-label-left" novalidate>
        <div class="row x_panel">
            <div class="x_title">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <h3>{{'Menu_RelatedRequest' | translate | uppercase}}</h3>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <fieldset class="col-md-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px">
                    <div class="form-group col-md-12 col-xs-12">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageRequest_RequestType' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12 col-sm-12">
                            <select class="select2_multiple form-control" multiple="multiple"
                                    ng-model="vm.searchCriteria.ServiceId"
                                    ng-options="type.Id as type.Name for type in vm.services"></select>
                        </div>
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageRequest_RequestCode' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <input type="text" ng-model="vm.searchCriteria.RequestNo" class="form-control">
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-xs-12">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageRequest_RequestName' | translate }}:
                        </label>
                        <div class="col-md-10 col-xs-12">
                            <input type="text" ng-model="vm.searchCriteria.RequestName" class="form-control">
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-xs-12">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageRequest_Status' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <select class="select2_multiple form-control" multiple="multiple"
                                    ng-model="vm.searchCriteria.RequestStatusId"
                                    ng-options="status.Id as status.Name for status in vm.requestStatus"></select>
                        </div>
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageRequest_CompletedStatus' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <select ng-model="vm.searchCriteria.CompletedStatusId" class="form-control"
                                    ng-options="status.Id as status.Name for status in vm.completedStatus"></select>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-xs-12 col-sm-12">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageRequest_DateFrom' | translate }}:
                        </label>
                        <div class="control-group col-md-4 col-xs-12">
                            <p class="input-group col-md-12 col-xs-12">
                                <input type="text" class="form-control date-picker date-picker-invalid"
                                       datetime-picker='{{dateFormat}}'
                                       ng-model="vm.searchCriteria.FromDate"
                                       is-open="vm.openFrom"
                                       ng-click="vm.openFrom = true" />
                                <span class="fa fa-calendar form-control-feedback"></span>
                            </p>
                        </div>
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageRequest_DateTo' | translate }}
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <p class="input-group col-md-12 col-xs-12">
                                <input type="text" class="form-control date-picker date-picker-invalid"
                                       datetime-picker='{{dateFormat}}'
                                       ng-model="vm.searchCriteria.ToDate"
                                       is-open="vm.openTo"
                                       ng-click="vm.openTo = true" />
                                <span class="fa fa-calendar form-control-feedback"></span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-xs-12 col-sm-12">
                        <div class="col-md-2"></div>
                        <div class="col-md-4 col-xs-12" style="margin: -25px 0 20px 0">
                            <label class="control-label error date-picker-0">
                                {{'ManageRequest_InvalidDate' | translate }}
                            </label>
                            <label class="control-label error" ng-if="!vm.checkValid()">
                                {{'ManageRequest_InvalidDateTo' | translate}}
                            </label>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4 col-xs-12" style="margin: -25px 0 20px 0">
                            <label class="control-label error date-picker-1">
                                {{'ManageRequest_InvalidDate' | translate }}
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-xs-12">
                        <label class="control-label col-md-2 col-xs-12">
                            {{'ManageRelated_Filter' | translate }}:
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <select ng-model="vm.searchCriteria.FilterBy" class="form-control"
                                    ng-options="filter.Id as filter.Name for filter in vm.filterBy"></select>
                        </div>
                    </div>

                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">{{ 'HomePage_AproveWaiting' | translate}}:</label>
                        <div class="col-md-3 col-sm-3 col-xs-10">
                            <input type="text" disabled="disabled" style="background-color: #e2e2e2;" value="{{vm.counter.waittingForApproval}}" class="form-control">
                        </div>
                        <div class="form-group col-md-1 col-sm-1 col-xs-2 text-right">
                            <a class="btn btn-success" ng-click="vm.searchRequest(vm.requestStatusConstant.WaitingForApproval,'')">...</a>
                        </div>
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">{{'HomePage_AssignWaiting' | translate}}:</label>
                        <div class="col-md-3 col-sm-3 col-xs-10">
                            <input type="text" disabled="disabled" style="background-color: #e2e2e2;" value="{{vm.counter.waitingForAssigned}}" class="form-control">
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-2 text-right">
                            <a class="btn btn-success" ng-click="vm.searchRequest(vm.requestStatusConstant.WaitingForAssigned,'')">...</a>
                        </div>
                    </div>

                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">{{'HomePage_ProcessWaiting' | translate}}:</label>
                        <div class="col-md-3 col-sm-3 col-xs-10">
                            <input type="text" disabled="disabled" style="background-color: #e2e2e2;" value="{{vm.counter.waitingForProcess}}" class="form-control">
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-2 text-right">
                            <a class="btn btn-success" ng-click="vm.searchRequest(vm.requestStatusConstant.WaitingForProcess,'')">...</a>
                        </div>
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">{{ 'HomePage_Processing' | translate}}:</label>
                        <div class="col-md-3 col-sm-3 col-xs-10">
                            <input type="text" disabled="disabled" style="background-color: #e2e2e2;" value="{{vm.counter.processing}}" class="form-control">
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-2 text-right">
                            <a class="btn btn-success" ng-click="vm.searchRequest(vm.requestStatusConstant.Processing,'')">...</a>
                        </div>
                    </div>
                    <div class="form-group col-md-8 col-xs-12">
                        <div class="col-md-12 col-md-offset-3 text-center">
                            <button type="submit" ng-click="vm.searchRequest('','true')" class="btn btn-success"><i class="fa fa-search"></i> {{'Button_Search' | translate}}</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
    <div class="row x_panel">
        <legend>{{'ManageProcess_SearchResultLabel' | translate |uppercase}}</legend>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group col-md-12 col-xs-12" id="table">
                <table datatable="ng" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{'ManageRequest_RequestCode' | translate }}</th>
                            <th>{{'ManageRequest_RequestName' | translate }}</th>
                            <th>{{'ManageRequest_RequestType' | translate }}</th>
                            <th>{{'ManageRequest_Requester' | translate }}</th>
                            <th>{{'ManageRequest_CreateDate' | translate }}</th>
                            <th>{{'ManageRequest_Status' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm.searchResult">
                            <td>{{ item.RequestNo }}</td>
                            <td>
                                <a href="#addrequest?requestid={{item.RequestId}}&action=edit" ng-if="item.RequestStatusId === 1 && vm.permissionAddRequest.View"><u>{{ item.RequestName }}</u></a>
                                <a href="#followrequest?requestid={{item.RequestId}}&parentview=managerelatedrequest" ng-if="item.RequestStatusId !== 1 && vm.permissionFollowRequest.View"><u>{{ item.RequestName }}</u></a>
                            </td>
                            <td>{{ item.RequestTypeName }}</td>
                            <td>{{ item.RequesterName }}</td>
                            <td>{{ item.CreatedDate | date:dateTimeFormat}}</td>
                            <td>{{ item.RequestStatusName }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>